In [134]:
# 변수 선언
a = 10 
b = "test"

## 변수 출력 
print(a)
print(type(a))

print(b)
print(type(b))

10
<class 'int'>
test
<class 'str'>

In [135]:
a = 'test2'
print(type(a))

<class 'str'>

In [136]:
# 불형 데이터 
# 참과 거짓의 형태 
a = True
print(type(a))

<class 'bool'>

In [137]:
b = (100 > 10)
c = 100 < 10
d = 100 == 100 
print(b,c,d)

True False True

In [138]:
#산술 연산자
# 사칙 연산 
a = 7 
b = 3 
print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

10 4 21 2.3333333333333335 2 1 343

In [139]:
c = 2 
print(a+b*c)
print(a+b)*c

13
10

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [ ]:
# 대입연산자
a += 5 # a = a +5
print(a)

12

In [ ]:
### 조건문 
#if 문

In [ ]:
a = 9 
if a < 10:
    print("a는 10보다 작다")

a는 10보다 작다

In [ ]:
## if ~ else 
a = int(input("점수를 넣어주세요"))
if a < 10:
    print("a는 10보다 작다")
else:
    print("a는 10보다 크다")

a는 10보다 크다

In [ ]:
score = int(input("점수를 입력하세요:"))
print(score)
print(type(score))
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
else :
    print("F")
print("")

70
<class 'int'>
C

In [ ]:
for i in range (0,10,1):
    print("%d 번째 반복" %i)

0 번째 반복
1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [ ]:
for i in range(10):
    print("%d 번째 반복" %i)

0 번째 반복
1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [ ]:
##1부터 10까지의 합계 구하기 
# for 문이용 
# 합계 변수 생성
sum = 0 

for a in range (1,11,1):
    sum += a
    # sum = sum + a 
print(sum)    # print문을 들여쓰기 안했을때 결과

55

In [ ]:
sum = 0 

for a in range (1,11,1):
    sum += a
    # sum = sum + a 
    print(sum)  # print 문을 들여썼을때의 결과

1
3
6
10
15
21
28
36
45
55

In [ ]:
# 다중 for 문 
## 구구단 
for i in range(2,10,1):
    print(str(i)+"단") # print("%d") 이렇게 써도 됀다 
    for j in range(1,10,1):
        print("%d X %d = %d"%(i,j,i*j)) # or print(str(i) + "X" + str(j) + "=" + str(i*j))

2단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
## for 문 
## 1 부터 100까지의 숫자중에 짝수의 합계를 구하라. 
## hint : 1 부터 100까지의 반복 
## if 조건문을 사용해서 짝수인 경우에만 + 
sum = 0 
for i in range (1,101,1):
    if i % 2 == 0:
        sum += i 
print(sum)

2550

In [ ]:
## 다중 for 문 
## 2개의 주사위를 굴려서 두 주사위의 합이 5가 되는 주사위의 값을 출력하라. 
for i in range (1,7,1):
    for j in range (1,7,1):
        if i+j == 5:
            print(i,j)

1 4
2 3
3 2
4 1

In [ ]:
## while 문 
## 초기값 지정 
i = 0 
## while 문 시작 
while i < 10 :
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
i = 0 
## while 문 시작 
while i < 10 :
    i += 1
    print(i)         # print 문의 위치에 따라서, 결과값이 달라진다.

1
2
3
4
5
6
7
8
9
10

In [ ]:
## break 문 
for i in range (1,100,1):
    print("%d 번째 반복" %i)
    if i == 5: 
        break

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복

In [ ]:
for i in range (1,100,1):
    if i == 5: 
        break
    print("%d 번째 반복" %i)  # print 문의 위치에 따라서, 결과값이 달라진다.

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복

In [ ]:
## 1부터 100까지 합계를 구하는준. 
## 합계가 500 이 넘어가는 숫자와 합계의 값. 
sum = 0 
for i in range (1,101,1):
    sum += i
    if sum >= 500:
        break
print("합계가 500 이상이 되는 범위의 숫자",i,'합계는',sum)

합계가 500 이상이 되는 범위의 숫자 32 합계는 528

In [ ]:
## while 문으로 값은 결과값 출력하기
sum = 0
j = 1
while j < 101 :
    sum += j 
    if sum >= 500:
        break
    j += 1
print("합계가 500 이상이 되는 범위의 숫자",j,'합계는',sum)

합계가 500 이상이 되는 범위의 숫자 32 합계는 528

In [ ]:
## continue 문 
for i in range (1,10,1):
    if i <= 3:
        continue
    print("%d 번째 반복 "%i)

4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [ ]:
## 1 부터 100까지의 짝수의 합계 
sum = 0 
for i in range ( 1, 101, 1):
    if i % 2 == 1:
        continue
    sum += i 
print(sum)

2550

In [ ]:
### 튜플 
a = (1, 'Hello')
b = (3, 3.14)
c = a + b 
d = a * 3 
e = a[1]
print(a,b,c,d,e)

(1, 'Hello') (3, 3.14) (1, 'Hello', 3, 3.14) (1, 'Hello', 1, 'Hello', 1, 'Hello') Hello

In [ ]:
## 숫자 1만 출력하고 싶다면 
print(a[0])

1

In [ ]:
a = (10,20,30,40) 
print(a[1:3]) # 두번째, 마지막에서 - 1 번째값 출력
print(a[2:]) # 세번째, 마지막까지 출력

(20, 30)
(30, 40)

In [ ]:
## list 형태 데이터
a = [20,10,50,5]
b = [10,20,30,40]
## sort() --> 오름차순정렬 
a.sort()
## reverse()
b.reverse()

In [ ]:
# append() --> 리스트의 마지막에 항목 추가 
a.append(22)
print(a)

[5, 10, 20, 50, 22]

In [ ]:
## 리스트의 특징
a = []
print(a)
a.append(10)
print(a)

[]
[10]

In [ ]:
##1부터 70까지 숫자들중에 3의 배수를 리스트로 만들어서 출력 
l = [] ## 비어있는 리스트 생성
for i in range (1,71,1):  ## 1부터 70까지 반복
    if i % 3 == 0 : ## 3의 배수 조건식
       l.append(i)
print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [ ]:
for i in [5,7,10]:
    print(i)

5
7
10

In [ ]:
## 위에 l 리스트 안에 값을 모두 더하는 값 
sum = 0 
for i in l:
    sum += i
print(sum)

828

In [ ]:
## 딕셔너리 
## 사전형 데이터 
## {key1:value1, key2:value2,...}
dict = {
    "name" : "test",
    "age" : 20,
    "phone": "01012345467"
}
print(dict["name"])
print(dict["age"])
# 새로운 key: value 대입 
dict['area'] = "seoul"
print(dict)

test
20
{'name': 'test', 'age': 20, 'phone': '01012345467', 'area': 'seoul'}

In [ ]:
## database 에서 데이터를 받아올때 데이터의 형태
## [{},{},{}]
test_data = [ 
    {
        "name" : "test1",
        "age" : 20
    },
    {
        "name" : "test2",
        "age" : 30
    },
    {
        "name" : "test3",
        "age" : 40
    }
]
print(test_data[0]["name"]) # 먼저 test_data 리스트의 첫번째 값의 dict 의 test 1 을 출력함 .

test1

In [ ]:
## test_data 에서 name 의 값들만 리스트의 형태로 출력 
name_list = []

for i in test_data:
    name_list.append(i["name"])
print(name_list)

['test1', 'test2', 'test3']

In [ ]:
name_list = [] 
for i in range (0,3,1):  # or for i in range (0,len(test_data),1) or for i in range (len(test_data))
    name_list.append(test_data[i]["name"])
print(name_list)

['test1', 'test2', 'test3']

In [ ]:
#### github 주소 ## 자료 받는곳 
#### https://github.com/bsmoon-86/ezen-python

In [ ]:
## 문자열 내장 함수 
## 대문자, 소문자 변환
## upper(), lower()
text = "Hello World"
print(text.upper())
print(text.lower())

HELLO WORLD
hello world

In [ ]:
text = "    Hello World   "  ## 앞에 공백 뒤에 공백이 있을경우 
print(text)

    Hello World

In [ ]:
## 공백 제거 함수 
## strip() : 양쪽의 공백 제거 
## lstrip() : 왼쪽의 공백 제거 
## rstrip() : 오른쪽의 공백 제거 
print(text.lstrip())
print(text.rstrip())
print(text.strip())
## 가운데 공백을 제거 할때는 ?? 
## replace() 
## 선택한 문자열을 변경 , 하지만 공백을 제거하는데도, 사용이 가능함. 
text.replace(" ","")

Hello World
    Hello World
Hello World

'HelloWorld'

In [ ]:
text.replace("Hello",'Hi')

'    Hi World   '

In [ ]:
### split()
## 기준이 되는 문자열이나, ./ 와 같은 특수문자열을 기준으로 문자열을 나눠주는 역할
a = "a,b,c,d,e"
print(a)
a.split(",")

a,b,c,d,e

['a', 'b', 'c', 'd', 'e']

In [ ]:
#### 함수 ##### 
def func_1():
    return "Hello World"
print(func_1())
print(func_1())
print(func_1())

Hello World
Hello World
Hello World

In [ ]:
## 매개 변수가 존재하는 함수 생성 
def func_2(x,y):
    result = x + y
    return result

In [140]:
print(func_2(5,3))
print(func_2(1,3))
print(func_2(10,4))

8
4
14

In [142]:
func_2(1,2)

3

In [143]:
### 매개변수에 기본값을 정의 
def func_3(x,y = 3):
    result = x + y
    return result
    
print(func_3(5,1))  ## 위에 매개변수 y = 3 을 정의했지만, "1" 로 바꿔서 출력
print(func_3(3))  ## y 에 해당하는 인자값을 생략해도 위에 매개변수가 정의되어 있으므로, 에러 안나옴

6
6

In [145]:
def func_4(x,y):
    result = x ** y
    return result
    
print(func_4(5,2))
print(func_4(y=5, x=2))

25
32

In [ ]:
## 1. 함수를 하나 생성 매개변수 2개 (x,y )
## 2. 함수가 하는 행동 ( x 부터 y 까지의 합을 리터 ) - for / while 문 
## 3. x 보다 y 가 작은 경우에는 x 부터 y 까지의 합, 반대인경우에는 y 부터 x 까지의 합.

In [171]:
# 1 의 경우 for 문을 이용할 경우 
def func_5(x,y):
    f_sum = 0
    for i in range (x,y+1,1):
        f_sum += i
    return f_sum

print(func_5(1,10))
## print(f_sum) 이럴경우에는 에러가남, if_sum 은 함수안에 사용된 지역변수 이므로.. 
 
# 2 의 경우 while 문을 이용할 경우 
def func_6(x,y):
    sum = 0
    while x <= y:
        sum += x
        x += 1
    return sum
    
print(func_6(1,10))

# 3 의 경우 
def func_7(x,y):
    f_sum = 0 
    ## x 가 y보다 작은 경우 
    if x < y :
        for i in range(x,y+1,1):
            f_sum += i 
    else: 
        for i in range(y,x+1,1):
            f_sum += i 
    return f_sum 
print(func_7(1,10))
print(func_7(10,1))

## if 문을 사용하지 않을 경우 
def func_8(x,y):
    f_sum = 0 
    for i in range(min(x,y), max(x,y)+1, 1):
        f_sum += i
    return f_sum
    
print(func_8(1,10))
print(func_8(10,1))

55
55
55
55
55
55

In [ ]:
### 함수 생성 ( 매개변수 3개 x,y,z)
### z 의 값이 "합" x+y 리턴 
### z 의 값이 "차" x-y 리턴 
### z 의 값이 둘다 아니면 "연산식이 잘못 되었습니다." 리턴

In [178]:
def func_10(x,y,z):
    if z == '합':
        return x + y 
    elif z == '차':
        return x - y
    else:
        return "연산식이 잘못 되었습니다."
print(func_10(1,3,'합')) 
print(func_10(1,3,'차'))
print(func_10(1,3,'곱'))

4
-2
연산식이 잘못 되었습니다.

In [182]:
## return  을 세번쓰기 씷을때 
def func_11(x,y,z):
    if z == '합':
        result = x + y 
    elif z == '차':
        result = x - y
    else:
        result = "연산식이 잘못 되었습니다."
    return result 

print(func_11(1,3,'합')) 
print(func_11(1,3,'차'))
print(func_11(1,3,'곱'))

4
-2
연산식이 잘못 되었습니다.

In [181]:
def func_12(x):
    result = x ** 2 
    return result 
    
l = [1,2,3,4]
result = [] 
for i in l:
    result.append(func_12(i)) 
print(result)

[1, 4, 9, 16]

In [184]:
## map 함수 ( for 문을 사용해서, 반복작업을 수행할 필요없는 함수 )
result_2 = list(map(func_12, l))
print(result_2)

[1, 4, 9, 16]

In [185]:
## 람다 함수 
lamb = lambda x: x **2 
print(lamb(4))

16

In [187]:
list(map(lamb, l))

[1, 4, 9, 16]