In [1]:
## 결측치 
import pandas as pd
import numpy as np

In [2]:
s1 = pd.Series([1, np.nan, 3,4,5])
s2 = pd.Series([1, 2, np.nan,4,5])
s3 = pd.Series([1, 2, 3, np.nan,5])

In [3]:
df = pd.DataFrame({
    'S1' : s1,
    'S2' : s2,
    'S3'  : s3
})

In [4]:
df

    S1   S2   S3
0  1.0  1.0  1.0
1  NaN  2.0  2.0
2  3.0  NaN  3.0
3  4.0  4.0  NaN
4  5.0  5.0  5.0

In [5]:
## is __() 값이 존재하는지에 대한 bool 의 형태로 출력을 해주는 함수 
## 결측치를bool 의 형태로 출력을 해주는 함수 : isna()
## 결측치는 True , 결측치가 아니면 False. 
df.isna()

      S1     S2     S3
0  False  False  False
1   True  False  False
2  False   True  False
3  False  False   True
4  False  False  False

In [6]:
df.isna().sum()

S1    1
S2    1
S3    1
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   S1      4 non-null      float64
 1   S2      4 non-null      float64
 2   S3      4 non-null      float64
dtypes: float64(3)
memory usage: 248.0 bytes

In [8]:
## 결측치 제거 ## 
## dropna(행을 기준으로 할지 열을 기준할지 지정)
## 매개변수 axis 에 0 을 대입하면, 행을 기준으로 삭제 
## 1을 대입하면 열을 기준으로 삭제 
df.dropna(axis=1) ## 열을 기준으로 삭제하므로, index 만 남음

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [9]:
df.dropna(axis=0) ## 행을 기준으로 삭제

    S1   S2   S3
0  1.0  1.0  1.0
4  5.0  5.0  5.0

In [10]:
## 통계 요약 정보 
df.describe()

             S1        S2        S3
count  4.000000  4.000000  4.000000
mean   3.250000  3.000000  2.750000
std    1.707825  1.825742  1.707825
min    1.000000  1.000000  1.000000
25%    2.500000  1.750000  1.750000
50%    3.500000  3.000000  2.500000
75%    4.250000  4.250000  3.500000
max    5.000000  5.000000  5.000000