In [166]:
## servicekey = "dtbWOdJ%2FCz5HE0DGLU%2BCRPe7pOW0NIQBUcGEqsHZaTRiYCI%2F5%2BzugwzQjcvuId7NPdg6rUiW%2Bft3fm7yqyD4pw%3D%3D"
## url = "http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson"

In [167]:
!pip install requests xmltodict  ## 두가지 lib 를 연속해서 사용해서 install 함

ERROR: Invalid requirement: '##'

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [168]:
### openapi 라이브러리 로드 
import requests
from urllib import parse
import xmltodict
import pandas as pd

In [169]:
## openapi 를 이용해서 서버와 통신하여 데이터를 가져오는 작업 

## 어는 api 에 접속할지 url 변수를 생성 
url = "http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson" 

## 공공 데이터포털에서 주소와 함께 보내야 되는 요청 변수 
service_key = "dtbWOdJ%2FCz5HE0DGLU%2BCRPe7pOW0NIQBUcGEqsHZaTRiYCI%2F5%2BzugwzQjcvuId7NPdg6rUiW%2Bft3fm7yqyD4pw%3D%3D"
## "%2F" 를 특수 python 함수로 인식하므로, 이것을 텍스트로 인식하게 하는 unquote 함수를 넣어 줘야함
param = { 
    'serviceKey' : parse.unquote(service_key), 
    ## unquote 는 문자열을 요청변수화 시키는 함수 
    'pageNo': '1',  ## 페이지 번호
    'numOfRows' : '5000', ## 페이지당 데이터의 수 
    'startCreateDt' : '20220101', ## 데이터의 시작일자 
    'endCreateDt' : '20230210' ## 데이터의 마지막 일자. 
}

## 서버에게 요청 
response = requests.get(url, params=param) # 서버에게 response 를 요청하는데, param 값을 params 에 넣어서 \
#url 에 명시된 data 값을 달라고 요청함 
## response 는 xml 형태의 데이터 

## xml 데이터를 dict 형태로 변환 하여, result 값에 넣음. 여기서 parse 함수는 기존의 server 안의 content 를 가져온다는..
result = xmltodict.parse(response.content) ## response 를 content 의 내용을 xml 을 dict 형태로 변환
print(result)  ## 출력된물을 지워주는 ... 셀출력 지우기( 너무 길어서..)

{'response': {'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}, 'body': {'items': {'item': [{'createDt': '2023-02-10 04:22:09.0', 'deathCnt': '33697', 'decideCnt': '30325343', 'seq': '1159', 'stateDt': '20230210', 'stateTime': '00:00', 'updateDt': '2023-02-11 06:02:40.0'}, {'createDt': '2023-02-09 00:13:08.0', 'deathCnt': '33680', 'decideCnt': '30311839', 'seq': '1158', 'stateDt': '20230209', 'stateTime': '00:00', 'updateDt': '2023-02-11 06:03:21.0'}, {'createDt': '2023-02-08 00:10:49.0', 'deathCnt': '33646', 'decideCnt': '30297177', 'seq': '1157', 'stateDt': '20230208', 'stateTime': '00:00', 'updateDt': '2023-02-11 06:03:54.0'}, {'createDt': '2023-02-07 04:25:43.0', 'deathCnt': '33624', 'decideCnt': '30279250', 'seq': '1156', 'stateDt': '20230207', 'stateTime': '00:00', 'updateDt': '2023-02-11 06:04:17.0'}, {'createDt': '2023-02-06 04:20:35.0', 'deathCnt': '33614', 'decideCnt': '30263138', 'seq': '1155', 'stateDt': '20230206', 'stateTime': '00:00', 'updateDt': '2023-02-11 06:04:43.0'}, {'createDt': '2023-02-05 00:20:31.0', 'deathCnt': '33596', 'decideCnt': '30257291', 'seq': '1154', 'stateDt': '20230205', 'stateTime': '00:00', 'updateDt': '2023-02-11 06:05:08.0'}, {'createDt': '2023-02-04 00:08:43.0', 'deathCnt': '33574', 'decideCnt': '30243280', 'seq': '1153', 'stateDt': '20230204', 'stateTime': '00:00', 'updateDt': '2023-02-11 06:05:59.0'}, {'createDt': '2023-02-03 05:52:19.0', 'deathCnt': '33552', 'decideCnt': '30228769', 'seq': '1152', 'stateDt': '20230203', 'stateTime': '00:00', 'updateDt': '2023-02-04 00:09:18.0'}, {'createDt': '2023-02-02 04:52:36.0', 'deathCnt': '33522', 'decideCnt': '30213808', 'seq': '1151', 'stateDt': '20230202', 'stateTime': '00:00', 'updateDt': '2023-02-04 00:09:36.0'}, {'createDt': '2023-02-01 01:24:28.0', 'deathCnt': '33486', 'decideCnt': '30196952', 'seq': '1150', 'stateDt': '20230201', 'stateTime': '00:00', 'updateDt': '2023-02-04 00:10:06.0'}, {'createDt': '2023-01-31 00:02:09.0', 'deathCnt': '33444', 'decideCnt': '30176538', 'seq': '1149', 'stateDt': '20230131', 'stateTime': '00:00', 'updateDt': '2023-02-04 00:10:16.0'}, {'createDt': '2023-01-30 05:43:27.0', 'deathCnt': '33420', 'decideCnt': '30156921', 'seq': '1148', 'stateDt': '20230130', 'stateTime': '00:00', 'updateDt': '2023-02-04 00:10:26.0'}, {'createDt': '2023-01-29 04:38:06.0', 'deathCnt': '33390', 'decideCnt': '30149509', 'seq': '1147', 'stateDt': '20230129', 'stateTime': '00:00', 'updateDt': '2023-02-04 00:10:36.0'}, {'createDt': '2023-01-28 01:05:22.0', 'deathCnt': '33361', 'decideCnt': '30130645', 'seq': '1146', 'stateDt': '20230128', 'stateTime': '00:00', 'updateDt': '2023-02-04 00:10:46.0'}, {'createDt': '2023-01-27 00:05:32.0', 'deathCnt': '33332', 'decideCnt': '30107118', 'seq': '1145', 'stateDt': '20230127', 'stateTime': '00:00', 'updateDt': '2023-01-28 01:19:59.0'}, {'createDt': '2023-01-26 06:20:11.0', 'deathCnt': '33296', 'decideCnt': '30075407', 'seq': '1144', 'stateDt': '20230126', 'stateTime': '00:00', 'updateDt': '2023-01-28 01:19:51.0'}, {'createDt': '2023-01-25 00:10:12.0', 'deathCnt': '33270', 'decideCnt': '30040321', 'seq': '1143', 'stateDt': '20230125', 'stateTime': '00:00', 'updateDt': '2023-01-28 01:19:43.0'}, {'createDt': '2023-01-24 01:18:15.0', 'deathCnt': '33245', 'decideCnt': '30020794', 'seq': '1142', 'stateDt': '20230124', 'stateTime': '00:00', 'updateDt': '2023-01-28 01:19:32.0'}, {'createDt': '2023-01-23 07:51:22.0', 'deathCnt': '33235', 'decideCnt': '30008544', 'seq': '1141', 'stateDt': '20230123', 'stateTime': '00:00', 'updateDt': '2023-01-28 01:19:22.0'}, {'createDt': '2023-01-22 06:51:22.0', 'deathCnt': '33209', 'decideCnt': '29999327', 'seq': '1139', 'stateDt': '20230122', 'stateTime': '00:00', 'updateDt': '2023-01-28 01:19:10.0'}, {'createDt': '2023-01-21 04:48:22.0', 'deathCnt': '33185', 'decideCnt': '29982710', 'seq': '1138', 'stateDt': '20230121', 'stateTime': '00:00', 'updateDt': '2023-01-28 01:18:47.0'}, {'createDt': '2023-01-20 02:18:59.0', 'deathCnt': '33134', 'decideCnt': '29955251', 'seq': '1137', 'stateDt': '20230120', 'stateTime': '00:00', 'updateDt': '2023-01-20 22:47:03.0'}, {'createDt': '2023-01-18 06:08:27.0', 'deathCnt': '33057', 'decideCnt': '29898037', 'seq': '1135', 'stateDt': '20230118', 'stateTime': '00:00', 'updateDt': '2023-01-20 22:47:54.0'}, {'createDt': '2023-01-17 03:40:10.0', 'deathCnt': '33014', 'decideCnt': '29861141', 'seq': '1134', 'stateDt': '20230117', 'stateTime': '00:00', 'updateDt': '2023-01-20 22:48:45.0'}, {'createDt': '2023-01-16 01:37:44.0', 'deathCnt': '32984', 'decideCnt': '29820957', 'seq': '1133', 'stateDt': '20230116', 'stateTime': '00:00', 'updateDt': '2023-01-20 22:49:00.0'}, {'createDt': '2023-01-15 01:16:52.0', 'deathCnt': '32949', 'decideCnt': '29806827', 'seq': '1132', 'stateDt': '20230115', 'stateTime': '00:00', 'updateDt': '2023-01-20 22:49:14.0'}, {'createDt': '2023-01-14 06:11:49.0', 'deathCnt': '32912', 'decideCnt': '29774267', 'seq': '1130', 'stateDt': '20230114', 'stateTime': '00:00', 'updateDt': '2023-01-20 22:49:30.0'}, {'createDt': '2023-01-13 05:02:30.0', 'deathCnt': '32867', 'decideCnt': '29737622', 'seq': '1129', 'stateDt': '20230113', 'stateTime': '00:00', 'updateDt': '2023-01-14 05:58:24.0'}, {'createDt': '2023-01-12 06:06:08.0', 'deathCnt': '32816', 'decideCnt': '29697896', 'seq': '1128', 'stateDt': '20230112', 'stateTime': '00:00', 'updateDt': '2023-01-14 05:58:48.0'}, {'createDt': '2023-01-11 00:50:45.0', 'deathCnt': '32745', 'decideCnt': '29653947', 'seq': '1127', 'stateDt': '20230111', 'stateTime': '00:00', 'updateDt': '2023-01-14 06:03:40.0'}, {'createDt': '2023-01-10 06:14:46.0', 'deathCnt': '32669', 'decideCnt': '29599614', 'seq': '1126', 'stateDt': '20230110', 'stateTime': '00:00', 'updateDt': '2023-01-14 06:04:01.0'}, {'createDt': '2023-01-09 00:36:55.0', 'deathCnt': '32625', 'decideCnt': '29539590', 'seq': '1125', 'stateDt': '20230109', 'stateTime': '00:00', 'updateDt': '2023-01-14 06:04:17.0'}, {'createDt': '2023-01-08 01:51:35.0', 'deathCnt': '32590', 'decideCnt': '29520501', 'seq': '1124', 'stateDt': '20230108', 'stateTime': '00:00', 'updateDt': '2023-01-14 06:04:53.0'}, {'createDt': '2023-01-07 00:39:09.0', 'deathCnt': '32556', 'decideCnt': '29473758', 'seq': '1123', 'stateDt': '20230107', 'stateTime': '00:00', 'updateDt': '2023-01-14 06:05:12.0'}, {'createDt': '2023-01-06 06:24:14.0', 'deathCnt': '32496', 'decideCnt': '29420027', 'seq': '1122', 'stateDt': '20230106', 'stateTime': '00:00', 'updateDt': '2023-01-07 00:39:40.0'}, {'createDt': '2023-01-05 00:49:32.0', 'deathCnt': '32421', 'decideCnt': '29363073', 'seq': '1121', 'stateDt': '20230105', 'stateTime': '00:00', 'updateDt': '2023-01-07 00:39:59.0'}, {'createDt': '2023-01-04 01:33:14.0', 'deathCnt': '32355', 'decideCnt': '29298979', 'seq': '1120', 'stateDt': '20230104', 'stateTime': '00:00', 'updateDt': '2023-01-07 00:40:13.0'}, {'createDt': '2023-01-03 00:24:55.0', 'deathCnt': '32301', 'decideCnt': '29220425', 'seq': '1119', 'stateDt': '20230103', 'stateTime': '00:00', 'updateDt': '2023-01-07 00:40:32.0'}, {'createDt': '2023-01-02 07:00:12.0', 'deathCnt': '32272', 'decideCnt': '29139386', 'seq': '1118', 'stateDt': '20230102', 'stateTime': '00:00', 'updateDt': '2023-01-07 00:40:43.0'}, {'createDt': '2023-01-01 06:47:21.0', 'deathCnt': '32219', 'decideCnt': '29116662', 'seq': '1117', 'stateDt': '20230101', 'stateTime': '00:00', 'updateDt': '2023-01-07 00:40:55.0'}, {'createDt': '2022-12-31 04:11:36.0', 'deathCnt': '32156', 'decideCnt': '29059161', 'seq': '1116', 'stateDt': '20221231', 'stateTime': '00:00', 'updateDt': '2023-01-07 00:41:09.0'}, {'createDt': '2022-12-30 00:46:13.0', 'deathCnt': '32095', 'decideCnt': '28996169', 'seq': '1115', 'stateDt': '20221230', 'stateTime': '00:00', 'updateDt': '2022-12-31 04:11:58.0'}, {'createDt': '2022-12-29 01:53:10.0', 'deathCnt': '32027', 'decideCnt': '28930962', 'seq': '1114', 'stateDt': '20221229', 'stateTime': '00:00', 'updateDt': '2022-12-31 04:12:11.0'}, {'createDt': '2022-12-28 03:55:40.0', 'deathCnt': '31951', 'decideCnt': '28859549', 'seq': '1113', 'stateDt': '20221228', 'stateTime': '00:00', 'updateDt': '2022-12-31 04:12:23.0'}, {'createDt': '2022-12-27 01:09:19.0', 'deathCnt': '31882', 'decideCnt': '28772051', 'seq': '1112', 'stateDt': '20221227', 'stateTime': '00:00', 'updateDt': '2022-12-31 04:12:32.0'}, {'createDt': '2022-12-26 00:48:49.0', 'deathCnt': '31832', 'decideCnt': '28684473', 'seq': '1111', 'stateDt': '20221226', 'stateTime': '00:00', 'updateDt': '2022-12-31 04:12:43.0'}, {'createDt': '2022-12-25 06:48:15.0', 'deathCnt': '31790', 'decideCnt': '28658942', 'seq': '1110', 'stateDt': '20221225', 'stateTime': '00:00', 'updateDt': '2022-12-31 04:12:53.0'}, {'createDt': '2022-12-24 01:09:15.0', 'deathCnt': '31744', 'decideCnt': '28600529', 'seq': '1109', 'stateDt': '20221224', 'stateTime': '00:00', 'updateDt': '2022-12-31 04:13:03.0'}, {'createDt': '2022-12-23 03:14:07.0', 'deathCnt': '31674', 'decideCnt': '28534396', 'seq': '1108', 'stateDt': '20221223', 'stateTime': '00:00', 'updateDt': '2022-12-24 01:10:05.0'}, {'createDt': '2022-12-22 01:18:07.0', 'deathCnt': '31611', 'decideCnt': '28466228', 'seq': '1107', 'stateDt': '20221222', 'stateTime': '00:00', 'updateDt': '2022-12-24 01:10:31.0'}, {'createDt': '2022-12-21 05:36:53.0', 'deathCnt': '31549', 'decideCnt': '28390499', 'seq': '1106', 'stateDt': '20221221', 'stateTime': '00:00', 'updateDt': '2022-12-24 01:10:41.0'}, {'createDt': '2022-12-20 02:52:56.0', 'deathCnt': '31490', 'decideCnt': '28302339', 'seq': '1105', 'stateDt': '20221220', 'stateTime': '00:00', 'updateDt': '2022-12-24 01:10:51.0'}, {'createDt': '2022-12-19 04:05:07.0', 'deathCnt': '31434', 'decideCnt': '28214803', 'seq': '1104', 'stateDt': '20221219', 'stateTime': '00:00', 'updateDt': '2022-12-24 01:11:03.0'}, {'createDt': '2022-12-18 01:01:22.0', 'deathCnt': '31395', 'decideCnt': '28188195', 'seq': '1103', 'stateDt': '20221218', 'stateTime': '00:00', 'updateDt': '2022-12-24 01:11:14.0'}, {'createDt': '2022-12-17 05:14:33.0', 'deathCnt': '31353', 'decideCnt': '28129357', 'seq': '1102', 'stateDt': '20221217', 'stateTime': '00:00', 'updateDt': '2022-12-24 01:11:26.0'}, {'createDt': '2022-12-16 05:48:50.0', 'deathCnt': '31298', 'decideCnt': '28062501', 'seq': '1101', 'stateDt': '20221216', 'stateTime': '00:00', 'updateDt': '2022-12-17 05:09:55.0'}, {'createDt': '2022-12-15 00:54:32.0', 'deathCnt': '31232', 'decideCnt': '27995548', 'seq': '1100', 'stateDt': '20221215', 'stateTime': '00:00', 'updateDt': '2022-12-17 05:10:34.0'}, {'createDt': '2022-12-14 00:42:41.0', 'deathCnt': '31174', 'decideCnt': '27925405', 'seq': '1099', 'stateDt': '20221214', 'stateTime': '00:00', 'updateDt': '2022-12-17 05:11:09.0'}, {'createDt': '2022-12-13 04:34:20.0', 'deathCnt': '31128', 'decideCnt': '27840852', 'seq': '1098', 'stateDt': '20221213', 'stateTime': '00:00', 'updateDt': '2022-12-17 05:11:38.0'}, {'createDt': '2022-12-12 00:34:36.0', 'deathCnt': '31099', 'decideCnt': '27754022', 'seq': '1097', 'stateDt': '20221212', 'stateTime': '00:00', 'updateDt': '2022-12-17 05:12:02.0'}, {'createDt': '2022-12-11 01:10:06.0', 'deathCnt': '31069', 'decideCnt': '27728365', 'seq': '1096', 'stateDt': '20221211', 'stateTime': '00:00', 'updateDt': '2022-12-17 05:12:25.0'}, {'createDt': '2022-12-10 00:41:17.0', 'deathCnt': '31029', 'decideCnt': '27674067', 'seq': '1095', 'stateDt': '20221210', 'stateTime': '00:00', 'updateDt': '2022-12-17 05:12:45.0'}, {'createDt': '2022-12-09 05:42:28.0', 'deathCnt': '30975', 'decideCnt': '27611425', 'seq': '1094', 'stateDt': '20221209', 'stateTime': '00:00', 'updateDt': '2022-12-10 00:42:22.0'}, {'createDt': '2022-12-08 01:09:53.0', 'deathCnt': '30908', 'decideCnt': '27548691', 'seq': '1093', 'stateDt': '20221208', 'stateTime': '00:00', 'updateDt': '2022-12-10 00:42:32.0'}, {'createDt': '2022-12-07 01:05:13.0', 'deathCnt': '30847', 'decideCnt': '27483446', 'seq': '1092', 'stateDt': '20221207', 'stateTime': '00:00', 'updateDt': '2022-12-10 00:42:43.0'}, {'createDt': '2022-12-06 01:00:52.0', 'deathCnt': '30793', 'decideCnt': '27408749', 'seq': '1091', 'stateDt': '20221206', 'stateTime': '00:00', 'updateDt': '2022-12-10 00:42:59.0'}, {'createDt': '2022-12-05 06:19:02.0', 'deathCnt': '30769', 'decideCnt': '27331159', 'seq': '1090', 'stateDt': '20221205', 'stateTime': '00:00', 'updateDt': '2022-12-10 00:43:11.0'}, {'createDt': '2022-12-04 03:41:12.0', 'deathCnt': '30729', 'decideCnt': '27308006', 'seq': '1089', 'stateDt': '20221204', 'stateTime': '00:00', 'updateDt': '2022-12-10 00:43:22.0'}, {'createDt': '2022-12-03 03:50:44.0', 'deathCnt': '30669', 'decideCnt': '27261456', 'seq': '1088', 'stateDt': '20221203', 'stateTime': '00:00', 'updateDt': '2022-12-10 00:43:36.0'}, {'createDt': '2022-12-02 00:21:56.0', 'deathCnt': '30621', 'decideCnt': '27208665', 'seq': '1087', 'stateDt': '20221202', 'stateTime': '00:00', 'updateDt': '2022-12-03 03:51:16.0'}, {'createDt': '2022-12-01 03:39:22.0', 'deathCnt': '30568', 'decideCnt': '27155678', 'seq': '1086', 'stateDt': '20221201', 'stateTime': '00:00', 'updateDt': '2022-12-03 03:51:26.0'}, {'createDt': '2022-11-30 02:39:44.0', 'deathCnt': '30506', 'decideCnt': '27098609', 'seq': '1085', 'stateDt': '20221130', 'stateTime': '00:00', 'updateDt': '2022-12-03 03:51:38.0'}, {'createDt': '2022-11-29 01:57:16.0', 'deathCnt': '30454', 'decideCnt': '27031207', 'seq': '1084', 'stateDt': '20221129', 'stateTime': '00:00', 'updateDt': '2022-12-03 03:51:51.0'}, {'createDt': '2022-11-28 01:52:34.0', 'deathCnt': '30413', 'decideCnt': '26959746', 'seq': '1083', 'stateDt': '20221128', 'stateTime': '00:00', 'updateDt': '2022-12-03 03:52:04.0'}, {'createDt': '2022-11-27 05:04:03.0', 'deathCnt': '30369', 'decideCnt': '26937433', 'seq': '1082', 'stateDt': '20221127', 'stateTime': '00:00', 'updateDt': '2022-12-03 03:52:15.0'}, {'createDt': '2022-11-26 04:08:52.0', 'deathCnt': '30330', 'decideCnt': '26890423', 'seq': '1081', 'stateDt': '20221126', 'stateTime': '00:00', 'updateDt': '2022-12-03 03:52:26.0'}, {'createDt': '2022-11-25 00:55:13.0', 'deathCnt': '30278', 'decideCnt': '26837700', 'seq': '1080', 'stateDt': '20221125', 'stateTime': '00:00', 'updateDt': '2022-11-26 03:51:31.0'}, {'createDt': '2022-11-24 00:40:47.0', 'deathCnt': '30223', 'decideCnt': '26784002', 'seq': '1079', 'stateDt': '20221124', 'stateTime': '00:00', 'updateDt': '2022-11-26 04:01:38.0'}, {'createDt': '2022-11-23 05:05:29.0', 'deathCnt': '30164', 'decideCnt': '26724920', 'seq': '1078', 'stateDt': '20221123', 'stateTime': '00:00', 'updateDt': '2022-11-26 04:02:34.0'}, {'createDt': '2022-11-22 04:11:11.0', 'deathCnt': '30111', 'decideCnt': '26654614', 'seq': '1077', 'stateDt': '20221122', 'stateTime': '00:00', 'updateDt': '2022-11-26 04:03:03.0'}, {'createDt': '2022-11-21 01:24:08.0', 'deathCnt': '30066', 'decideCnt': '26581754', 'seq': '1076', 'stateDt': '20221121', 'stateTime': '00:00', 'updateDt': '2022-11-26 04:03:21.0'}, {'createDt': '2022-11-20 00:34:59.0', 'deathCnt': '30031', 'decideCnt': '26558677', 'seq': '1075', 'stateDt': '20221120', 'stateTime': '00:00', 'updateDt': '2022-11-26 04:03:50.0'}, {'createDt': '2022-11-19 05:42:54.0', 'deathCnt': '29990', 'decideCnt': '26512679', 'seq': '1074', 'stateDt': '20221119', 'stateTime': '00:00', 'updateDt': '2022-11-26 04:04:10.0'}, {'createDt': '2022-11-18 03:18:10.0', 'deathCnt': '29925', 'decideCnt': '26462165', 'seq': '1073', 'stateDt': '20221118', 'stateTime': '00:00', 'updateDt': '2022-11-19 05:37:00.0'}, {'createDt': '2022-11-17 01:41:53.0', 'deathCnt': '29862', 'decideCnt': '26412747', 'seq': '1072', 'stateDt': '20221117', 'stateTime': '00:00', 'updateDt': '2022-11-19 05:37:50.0'}, {'createDt': '2022-11-16 01:27:17.0', 'deathCnt': '29795', 'decideCnt': '26357323', 'seq': '1071', 'stateDt': '20221116', 'stateTime': '00:00', 'updateDt': '2022-11-19 05:38:45.0'}, {'createDt': '2022-11-15 02:13:39.0', 'deathCnt': '29748', 'decideCnt': '26290754', 'seq': '1070', 'stateDt': '20221115', 'stateTime': '00:00', 'updateDt': '2022-11-19 05:39:21.0'}, {'createDt': '2022-11-14 06:27:50.0', 'deathCnt': '29709', 'decideCnt': '26217888', 'seq': '1069', 'stateDt': '20221114', 'stateTime': '00:00', 'updateDt': '2022-11-19 05:39:46.0'}, {'createDt': '2022-11-13 01:21:47.0', 'deathCnt': '29665', 'decideCnt': '26194137', 'seq': '1068', 'stateDt': '20221113', 'stateTime': '00:00', 'updateDt': '2022-11-19 05:40:06.0'}, {'createDt': '2022-11-12 00:39:24.0', 'deathCnt': '29617', 'decideCnt': '26145695', 'seq': '1067', 'stateDt': '20221112', 'stateTime': '00:00', 'updateDt': '2022-11-19 05:40:26.0'}, {'createDt': '2022-11-11 06:37:35.0', 'deathCnt': '29571', 'decideCnt': '26091436', 'seq': '1066', 'stateDt': '20221111', 'stateTime': '00:00', 'updateDt': '2022-11-12 00:40:33.0'}, {'createDt': '2022-11-10 03:09:27.0', 'deathCnt': '29531', 'decideCnt': '26036917', 'seq': '1065', 'stateDt': '20221110', 'stateTime': '00:00', 'updateDt': '2022-11-12 00:40:51.0'}, {'createDt': '2022-11-09 01:43:42.0', 'deathCnt': '29479', 'decideCnt': '25981560', 'seq': '1064', 'stateDt': '20221109', 'stateTime': '00:00', 'updateDt': '2022-11-12 00:41:05.0'}, {'createDt': '2022-11-08 02:06:57.0', 'deathCnt': '29420', 'decideCnt': '25919092', 'seq': '1063', 'stateDt': '20221108', 'stateTime': '00:00', 'updateDt': '2022-11-12 00:41:45.0'}, {'createDt': '2022-11-07 05:39:18.0', 'deathCnt': '29390', 'decideCnt': '25856832', 'seq': '1062', 'stateDt': '20221107', 'stateTime': '00:00', 'updateDt': '2022-11-12 00:41:56.0'}, {'createDt': '2022-11-06 03:44:25.0', 'deathCnt': '29372', 'decideCnt': '25838167', 'seq': '1061', 'stateDt': '20221106', 'stateTime': '00:00', 'updateDt': '2022-11-12 00:42:07.0'}, {'createDt': '2022-11-05 01:10:56.0', 'deathCnt': '29354', 'decideCnt': '25801502', 'seq': '1060', 'stateDt': '20221105', 'stateTime': '00:00', 'updateDt': '2022-11-12 00:42:16.0'}, {'createDt': '2022-11-04 00:48:07.0', 'deathCnt': '29313', 'decideCnt': '25760661', 'seq': '1059', 'stateDt': '20221104', 'stateTime': '00:00', 'updateDt': '2022-11-05 10:06:47.0'}, {'createDt': '2022-11-03 02:04:05.0', 'deathCnt': '29278', 'decideCnt': '25717212', 'seq': '1058', 'stateDt': '20221103', 'stateTime': '00:00', 'updateDt': '2022-11-05 10:06:38.0'}, {'createDt': '2022-11-02 01:02:39.0', 'deathCnt': '29237', 'decideCnt': '25670325', 'seq': '1057', 'stateDt': '20221102', 'stateTime': '00:00', 'updateDt': '2022-11-05 10:06:28.0'}, {'createDt': '2022-11-01 06:45:13.0', 'deathCnt': '29207', 'decideCnt': '25615588', 'seq': '1056', 'stateDt': '20221101', 'stateTime': '00:00', 'updateDt': '2022-11-05 10:06:19.0'}, {'createDt': '2022-10-31 00:40:23.0', 'deathCnt': '29174', 'decideCnt': '25557225', 'seq': '1055', 'stateDt': '20221031', 'stateTime': '00:00', 'updateDt': '2022-11-05 10:05:58.0'}, {'createDt': '2022-10-30 00:58:32.0', 'deathCnt': '29156', 'decideCnt': '25538721', 'seq': '1053', 'stateDt': '20221030', 'stateTime': '00:00', 'updateDt': '2022-11-05 10:05:44.0'}, {'createDt': '2022-10-29 03:48:28.0', 'deathCnt': '29129', 'decideCnt': '25504229', 'seq': '1051', 'stateDt': '20221029', 'stateTime': '00:00', 'updateDt': '2022-11-05 10:05:21.0'}, {'createDt': '2022-10-28 08:41:24.0', 'deathCnt': '29098', 'decideCnt': '25466926', 'seq': '1050', 'stateDt': '20221028', 'stateTime': '00:00', 'updateDt': '2022-11-05 10:13:35.0'}, {'createDt': '2022-10-27 08:14:14.0', 'deathCnt': '29068', 'decideCnt': '25431015', 'seq': '1049', 'stateDt': '20221027', 'stateTime': '00:00', 'updateDt': '2022-11-05 10:14:06.0'}, {'createDt': '2022-10-26 09:35:56.0', 'deathCnt': '29042', 'decideCnt': '25396051', 'seq': '1048', 'stateDt': '20221026', 'stateTime': '00:00', 'updateDt': '2022-11-05 10:15:10.0'}, {'createDt': '2022-10-25 08:55:13.0', 'deathCnt': '29016', 'decideCnt': '25355235', 'seq': '1047', 'stateDt': '20221025', 'stateTime': '00:00', 'updateDt': '2022-11-05 10:15:22.0'}, {'createDt': '2022-10-24 08:16:23.0', 'deathCnt': '28999', 'decideCnt': '25311496', 'seq': '1046', 'stateDt': '20221024', 'stateTime': '00:00', 'updateDt': '2022-11-05 10:15:54.0'}, {'createDt': '2022-10-23 07:34:23.0', 'deathCnt': '28989

In [170]:
## results 의 결과안에 response 안에 body 안에 
## items 안에 item 의 데이터 
result['response']['body']['items']['item']
rows = result['response']['body']['items']['item'] ## result 라는 dict 형태의 data 값을 rows 변수에 넣어줌

In [171]:
df = pd.DataFrame(rows)  ## dict 형태의 rows 값을 dataFrame 으로 만들어 준다. 
df.head()

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt
0,2023-02-10 04:22:09.0,33697,30325343,1159,20230210,00:00,2023-02-11 06:02:40.0,NaN
1,2023-02-09 00:13:08.0,33680,30311839,1158,20230209,00:00,2023-02-11 06:03:21.0,NaN
2,2023-02-08 00:10:49.0,33646,30297177,1157,20230208,00:00,2023-02-11 06:03:54.0,NaN
3,2023-02-07 04:25:43.0,33624,30279250,1156,20230207,00:00,2023-02-11 06:04:17.0,NaN
4,2023-02-06 04:20:35.0,33614,30263138,1155,20230206,00:00,2023-02-11 06:04:43.0,NaN

In [172]:
## pandas 를 이용하여 csv 로 파일 저장 
df.to_csv("corona.csv", encoding = 'UTF-8')

In [173]:
### 예제 문제 
#1. csv 폴더에 있는 sales 폴더에 있는 records.csv 파일 로드 
#2. 'Order ID', 'Total Revenue','Total Cost','Total profit'컬럼을 삭제
#3. 컬럼의 이름을 변경 ['대륙','국가','타입','채널','우선순위',
#                      '주문일자','발송일자','판매단위','단가','원가']
# 대륙,국가를 기준으로 오름차순 정렬
# 인덱스를 초기화 (기존의 인덱스는 삭제)

In [174]:
import pandas as pd

In [175]:
Sales_Country = pd.read_csv("../CSV/Sales Records.csv")
Sales_Country.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,1/27/2011,292494523,2/12/2011,4484,651.21,524.96,2920025.64,2353920.64,566105.00
1,Europe,Latvia,Beverages,Online,C,12/28/2015,361825549,1/23/2016,1075,47.45,31.79,51008.75,34174.25,16834.50
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,1/13/2011,141515767,2/1/2011,6515,154.06,90.93,1003700.90,592408.95,411291.95
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,9/11/2012,500364005,10/6/2012,7683,668.27,502.54,5134318.41,3861014.82,1273303.59
4,Europe,Czech Republic,Beverages,Online,C,10/27/2015,127481591,12/5/2015,3491,47.45,31.79,165647.95,110978.89,54669.06

In [176]:
Sales_Country
## 1개의 컬럼을 삭제 
Sales_Country.drop(['Total Revenue'], axis=1)
Sales_Country.drop(['Total Revenue'], axis=1,inplace=True)

In [177]:
## 여러개의 컬럼을 삭제하는 경우 
Sales_Country = pd.read_csv("../CSV/Sales Records.csv")
Sales_Country.head() ## 이미 이전의 컬럼값들을 지웠기 때문에 에러나므로, 다시 불러옴
Sales_Country.drop(['Order ID','Total Revenue','Total Cost', 'Total Profit'], axis=1 ,inplace= True)
Sales_Country

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Ship Date,Units Sold,Unit Price,Unit Cost
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,1/27/2011,2/12/2011,4484,651.21,524.96
1,Europe,Latvia,Beverages,Online,C,12/28/2015,1/23/2016,1075,47.45,31.79
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,1/13/2011,2/1/2011,6515,154.06,90.93
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,9/11/2012,10/6/2012,7683,668.27,502.54
4,Europe,Czech Republic,Beverages,Online,C,10/27/2015,12/5/2015,3491,47.45,31.79
...,...,...,...,...,...,...,...,...,...,...
9995,Asia,Laos,Beverages,Online,H,7/15/2014,7/31/2014,8597,47.45,31.79
9996,Europe,Liechtenstein,Cosmetics,Online,C,10/27/2012,11/1/2012,562,437.20,263.33
9997,Sub-Saharan Africa,Democratic Republic of the Congo,Vegetables,Offline,M,2/14/2013,3/20/2013,2524,154.06,90.93
9998,Sub-Saharan Africa,South Africa,Meat,Online,L,2/19/2017,2/22/2017,8706,421.89,364.69
9999,Asia,Mongolia,Snacks,Offline,M,4/12/2016,4/16/2016,361,152.58,97.44

In [178]:
Sales_Country.columns = ['대륙','국가','타입','채널','우선순위','주문일자','발송일자','판매단위','단가','원가']
Sales_Country

,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,1/27/2011,2/12/2011,4484,651.21,524.96
1,Europe,Latvia,Beverages,Online,C,12/28/2015,1/23/2016,1075,47.45,31.79
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,1/13/2011,2/1/2011,6515,154.06,90.93
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,9/11/2012,10/6/2012,7683,668.27,502.54
4,Europe,Czech Republic,Beverages,Online,C,10/27/2015,12/5/2015,3491,47.45,31.79
...,...,...,...,...,...,...,...,...,...,...
9995,Asia,Laos,Beverages,Online,H,7/15/2014,7/31/2014,8597,47.45,31.79
9996,Europe,Liechtenstein,Cosmetics,Online,C,10/27/2012,11/1/2012,562,437.20,263.33
9997,Sub-Saharan Africa,Democratic Republic of the Congo,Vegetables,Offline,M,2/14/2013,3/20/2013,2524,154.06,90.93
9998,Sub-Saharan Africa,South Africa,Meat,Online,L,2/19/2017,2/22/2017,8706,421.89,364.69
9999,Asia,Mongolia,Snacks,Offline,M,4/12/2016,4/16/2016,361,152.58,97.44

In [179]:
Sales_Country.sort_values(['대륙','국가']) ## 대륙과 국가를 기준으로 오름차순 정렬 ( 대륙이 먼저 정렬후,국가 정렬)
Sales_Country.sort_values(['대륙','국가'],inplace=True)
Sales_Country

,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가
36,Asia,Bangladesh,Personal Care,Online,L,12/11/2016,1/13/2017,9420,81.73,56.67
246,Asia,Bangladesh,Cosmetics,Offline,M,7/29/2010,9/11/2010,577,437.20,263.33
446,Asia,Bangladesh,Vegetables,Offline,C,4/28/2014,5/5/2014,34,154.06,90.93
569,Asia,Bangladesh,Cereal,Offline,L,6/22/2010,6/28/2010,9768,205.70,117.11
576,Asia,Bangladesh,Office Supplies,Online,H,3/20/2013,4/11/2013,7731,651.21,524.96
...,...,...,...,...,...,...,...,...,...,...
8747,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,H,11/27/2013,1/9/2014,8431,109.28,35.84
9025,Sub-Saharan Africa,Zimbabwe,Baby Food,Offline,M,3/11/2013,3/11/2013,9304,255.28,159.42
9219,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,H,6/9/2010,7/20/2010,3235,109.28,35.84
9541,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,11/20/2015,11/27/2015,5904,9.33,6.92
9645,Sub-Saharan Africa,Zimbabwe,Cereal,Online,H,2/15/2010,3/1/2010,7309,205.70,117.11

In [180]:
Sales_Country.reset_index()

## 인덱스를 초기화, #

,index,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가
0,36,Asia,Bangladesh,Personal Care,Online,L,12/11/2016,1/13/2017,9420,81.73,56.67
1,246,Asia,Bangladesh,Cosmetics,Offline,M,7/29/2010,9/11/2010,577,437.20,263.33
2,446,Asia,Bangladesh,Vegetables,Offline,C,4/28/2014,5/5/2014,34,154.06,90.93
3,569,Asia,Bangladesh,Cereal,Offline,L,6/22/2010,6/28/2010,9768,205.70,117.11
4,576,Asia,Bangladesh,Office Supplies,Online,H,3/20/2013,4/11/2013,7731,651.21,524.96
...,...,...,...,...,...,...,...,...,...,...,...
9995,8747,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,H,11/27/2013,1/9/2014,8431,109.28,35.84
9996,9025,Sub-Saharan Africa,Zimbabwe,Baby Food,Offline,M,3/11/2013,3/11/2013,9304,255.28,159.42
9997,9219,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,H,6/9/2010,7/20/2010,3235,109.28,35.84
9998,9541,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,11/20/2015,11/27/2015,5904,9.33,6.92
9999,9645,Sub-Saharan Africa,Zimbabwe,Cereal,Online,H,2/15/2010,3/1/2010,7309,205.70,117.11

In [181]:
# 기존의 인덱스는 삭제 
## case 1
Sales_Country.reset_index(drop=True)
# case 2
#Sales_Country.reset_index().drop(['index'],axis=1)
#Sales = Sales_Country.reset_index().drop(['index'],axis=1) 
## or 아래와 같이 inplace 를 써서 결과값을 출력가능하다 
## Sales_Country.reset_index().drop(['index'],axis=1,inplace=True)

,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가
0,Asia,Bangladesh,Personal Care,Online,L,12/11/2016,1/13/2017,9420,81.73,56.67
1,Asia,Bangladesh,Cosmetics,Offline,M,7/29/2010,9/11/2010,577,437.20,263.33
2,Asia,Bangladesh,Vegetables,Offline,C,4/28/2014,5/5/2014,34,154.06,90.93
3,Asia,Bangladesh,Cereal,Offline,L,6/22/2010,6/28/2010,9768,205.70,117.11
4,Asia,Bangladesh,Office Supplies,Online,H,3/20/2013,4/11/2013,7731,651.21,524.96
...,...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,H,11/27/2013,1/9/2014,8431,109.28,35.84
9996,Sub-Saharan Africa,Zimbabwe,Baby Food,Offline,M,3/11/2013,3/11/2013,9304,255.28,159.42
9997,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,H,6/9/2010,7/20/2010,3235,109.28,35.84
9998,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,11/20/2015,11/27/2015,5904,9.33,6.92
9999,Sub-Saharan Africa,Zimbabwe,Cereal,Online,H,2/15/2010,3/1/2010,7309,205.70,117.11

In [182]:
## 총 단가, 총 원가, 총 이윤 컬럼 생성 
## 총단가 = 단가 * 판매단위

In [183]:
Sales_Country['총 단가'] = Sales_Country['단가'] * Sales_Country['판매단위']
type(Sales_Country['단가'] * Sales_Country['판매단위'])  ## series 형태의 단가 * 판매단위.

type(Sales_Country) ## dataFrame 형태의 Sales_Country 에 대입 
Sales_Country.head(2)

,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가,총 단가
36,Asia,Bangladesh,Personal Care,Online,L,12/11/2016,1/13/2017,9420,81.73,56.67,769896.6
246,Asia,Bangladesh,Cosmetics,Offline,M,7/29/2010,9/11/2010,577,437.20,263.33,252264.4

In [184]:
## 총 원가 = 원가 * 판매단위 
Sales_Country ['총 원가'] = Sales_Country['원가'] * Sales_Country['판매단위']

In [185]:
## 총 이윤 = 총 단가 -  총 원가 
## 총 이윤2 = 판매단위 * (단가 - 원가)
Sales_Country['총 이윤'] = Sales_Country['총 단가'] - Sales_Country['총 원가']
Sales_Country['총 이윤2'] = Sales_Country['판매단위'] * \
     (Sales_Country['단가'] - Sales_Country['원가'])
Sales_Country.head(2)

,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가,총 단가,총 원가,총 이윤,총 이윤2
36,Asia,Bangladesh,Personal Care,Online,L,12/11/2016,1/13/2017,9420,81.73,56.67,769896.6,533831.40,236065.20,236065.20
246,Asia,Bangladesh,Cosmetics,Offline,M,7/29/2010,9/11/2010,577,437.20,263.33,252264.4,151941.41,100322.99,100322.99

In [186]:
## loc [] : 특정 행이나 특정열을 추출할때 사용 
##          loc [ 열의 위치, 행의 위치 ]
## iloc [] : 특정 행이나 특정 열을 추출할때 사용 
##          iloc[열의 위치 인덱스 값, 행의 위치 인덱스 값]

In [187]:
Sales_Country.iloc[0:2, 1:9] ##0:2 는 출력할 row 값들 , 뒤의 값들은 column 값들

,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가
36,Bangladesh,Personal Care,Online,L,12/11/2016,1/13/2017,9420,81.73
246,Bangladesh,Cosmetics,Offline,M,7/29/2010,9/11/2010,577,437.20

In [188]:
### 그룹화 
## group 화 기준이 되어지는 컬럼 
Sales_Country.groupby('국가')

In [189]:
Sales_Country.groupby('국가').sum()

C:\Users\ezen\AppData\Local\Temp\ipykernel_4296\2469533150.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Sales_Country.groupby('국가').sum()

,판매단위,단가,원가,총 단가,총 원가,총 이윤,총 이윤2
국가,,,,,,,
Afghanistan,288606,18788.26,13584.98,80540712.55,57563692.49,22977020.06,22977020.06
Albania,265337,13380.85,9280.73,66102811.56,46518841.86,19583969.70,19583969.70
Algeria,265512,13903.86,9592.03,70033847.68,47907961.04,22125886.64,22125886.64
Andorra,251235,13282.96,9599.76,59876814.59,43222877.72,16653936.87,16653936.87
Angola,287966,11852.60,8190.31,60047751.56,40451600.98,19596150.58,19596150.58
...,...,...,...,...,...,...,...
Vatican City,282961,12487.63,9083.68,61515063.42,44536634.38,16978429.04,16978429.04
Vietnam,300117,15918.36,11520.47,88844159.24,65428782.22,23415377.02,23415377.02
Yemen,243814,12518.66,8898.08,55684388.46,39017513.39,16666875.07,16666875.07
Zambia,287658,16143.14,11429.19,82694260.99,59056807.99,23637453.00,23637453.00
Zimbabwe,320108,13028.69,8680.63,62492808.33,41318176.57,21174631.76,21174631.76

In [190]:
Sales_Country.groupby('국가').sum()['총 이윤'] # Series 형태로 출력

C:\Users\ezen\AppData\Local\Temp\ipykernel_4296\2781668323.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Sales_Country.groupby('국가').sum()['총 이윤'] # Series 형태로 출력

국가
Afghanistan     22977020.06
Albania         19583969.70
Algeria         22125886.64
Andorra         16653936.87
Angola          19596150.58
                   ...
Vatican City    16978429.04
Vietnam         23415377.02
Yemen           16666875.07
Zambia          23637453.00
Zimbabwe        21174631.76
Name: 총 이윤, Length: 185, dtype: float64

In [191]:
Sales_Country.groupby('국가').sum()[['총 이윤']]# dataframe 형태로 출력

C:\Users\ezen\AppData\Local\Temp\ipykernel_4296\2814035477.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Sales_Country.groupby('국가').sum()[['총 이윤']]# dataframe 형태로 출력

                     총 이윤
국가
Afghanistan   22977020.06
Albania       19583969.70
Algeria       22125886.64
Andorra       16653936.87
Angola        19596150.58
...                   ...
Vatican City  16978429.04
Vietnam       23415377.02
Yemen         16666875.07
Zambia        23637453.00
Zimbabwe      21174631.76

[185 rows x 1 columns]

In [192]:
## 가장 많은 이윤을 내는 대륙은 어디인가 ? 
## 그룹화 --> 합계 --> 오름차순 or 내림차순 - 하위값 or 상위값 확인 
Sales_Country.groupby('대륙').sum()[['총 이윤']]
test1 = Sales_Country

C:\Users\ezen\AppData\Local\Temp\ipykernel_4296\421166125.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Sales_Country.groupby('대륙').sum()[['총 이윤']]

In [193]:
test1= Sales_Country.sort_values(['총 이윤'],ascending = False)
test1.tail(2)

,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가,총 단가,총 원가,총 이윤,총 이윤2
4037,Sub-Saharan Africa,Ghana,Fruits,Offline,M,7/18/2015,8/5/2015,24,9.33,6.92,223.92,166.08,57.84,57.84
7160,Asia,Philippines,Fruits,Online,H,1/25/2012,2/13/2012,18,9.33,6.92,167.94,124.56,43.38,43.38

In [194]:
## 내림 차순 정렬 --> head(1) 
test1 = Sales_Country.sort_values(['총 이윤'], ascending = False).head(1)
test1

,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가,총 단가,총 원가,총 이윤,총 이윤2
3124,Asia,Laos,Cosmetics,Online,L,11/23/2015,12/27/2015,9997,437.2,263.33,4370688.4,2632510.01,1738178.39,1738178.39

In [195]:
test2 = Sales_Country.groupby('국가').sum()[['총 이윤']]
test2

C:\Users\ezen\AppData\Local\Temp\ipykernel_4296\2873724232.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  test2 = Sales_Country.groupby('국가').sum()[['총 이윤']]

                     총 이윤
국가
Afghanistan   22977020.06
Albania       19583969.70
Algeria       22125886.64
Andorra       16653936.87
Angola        19596150.58
...                   ...
Vatican City  16978429.04
Vietnam       23415377.02
Yemen         16666875.07
Zambia        23637453.00
Zimbabwe      21174631.76

[185 rows x 1 columns]

In [196]:
## 총 이윤을 기준으로 내림차순 정렬 
group_df = test2.sort_values(['총 이윤'],ascending=False)
## 상위 10개 
top10 = group_df.head(10)
## 하위 10개 
bottom10 = group_df.tail(10)
top10
bottom10

                              총 이윤
국가
Sao Tome and Principe  14810451.22
Singapore              14709325.91
Syria                  14536103.72
Cote d'Ivoire          14521698.84
Belize                 14384763.70
Cape Verde             14383303.52
Italy                  14199991.25
Malta                  14163744.55
Mali                   13800334.90
Tajikistan             13662027.26