In [166]:
## servicekey = "dtbWOdJ%2FCz5HE0DGLU%2BCRPe7pOW0NIQBUcGEqsHZaTRiYCI%2F5%2BzugwzQjcvuId7NPdg6rUiW%2Bft3fm7yqyD4pw%3D%3D"
## url = "http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson"

In [167]:
!pip install requests xmltodict  ## 두가지 lib 를 연속해서 사용해서 install 함

ERROR: Invalid requirement: '##'

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [168]:
### openapi 라이브러리 로드 
import requests
from urllib import parse
import xmltodict
import pandas as pd

In [ ]:
## openapi 를 이용해서 서버와 통신하여 데이터를 가져오는 작업 

## 어는 api 에 접속할지 url 변수를 생성 
url = "http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson" 

## 공공 데이터포털에서 주소와 함께 보내야 되는 요청 변수 
service_key = "dtbWOdJ%2FCz5HE0DGLU%2BCRPe7pOW0NIQBUcGEqsHZaTRiYCI%2F5%2BzugwzQjcvuId7NPdg6rUiW%2Bft3fm7yqyD4pw%3D%3D"
## "%2F" 를 특수 python 함수로 인식하므로, 이것을 텍스트로 인식하게 하는 unquote 함수를 넣어 줘야함
param = { 
    'serviceKey' : parse.unquote(service_key), 
    ## unquote 는 문자열을 요청변수화 시키는 함수 
    'pageNo': '1',  ## 페이지 번호
    'numOfRows' : '5000', ## 페이지당 데이터의 수 
    'startCreateDt' : '20220101', ## 데이터의 시작일자 
    'endCreateDt' : '20230210' ## 데이터의 마지막 일자. 
}

## 서버에게 요청 
response = requests.get(url, params=param) # 서버에게 response 를 요청하는데, param 값을 params 에 넣어서 \
#url 에 명시된 data 값을 달라고 요청함 
## response 는 xml 형태의 데이터 

## xml 데이터를 dict 형태로 변환 하여, result 값에 넣음. 여기서 parse 함수는 기존의 server 안의 content 를 가져온다는..
result = xmltodict.parse(response.content) ## response 를 content 의 내용을 xml 을 dict 형태로 변환
print(result)  ## 출력된물을 지워주는 ... 셀출력 지우기( 너무 길어서..)

In [170]:
## results 의 결과안에 response 안에 body 안에 
## items 안에 item 의 데이터 
result['response']['body']['items']['item']
rows = result['response']['body']['items']['item'] ## result 라는 dict 형태의 data 값을 rows 변수에 넣어줌

In [171]:
df = pd.DataFrame(rows)  ## dict 형태의 rows 값을 dataFrame 으로 만들어 준다. 
df.head()

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt
0,2023-02-10 04:22:09.0,33697,30325343,1159,20230210,00:00,2023-02-11 06:02:40.0,NaN
1,2023-02-09 00:13:08.0,33680,30311839,1158,20230209,00:00,2023-02-11 06:03:21.0,NaN
2,2023-02-08 00:10:49.0,33646,30297177,1157,20230208,00:00,2023-02-11 06:03:54.0,NaN
3,2023-02-07 04:25:43.0,33624,30279250,1156,20230207,00:00,2023-02-11 06:04:17.0,NaN
4,2023-02-06 04:20:35.0,33614,30263138,1155,20230206,00:00,2023-02-11 06:04:43.0,NaN

In [172]:
## pandas 를 이용하여 csv 로 파일 저장 
df.to_csv("corona.csv", encoding = 'UTF-8')

In [173]:
### 예제 문제 
#1. csv 폴더에 있는 sales 폴더에 있는 records.csv 파일 로드 
#2. 'Order ID', 'Total Revenue','Total Cost','Total profit'컬럼을 삭제
#3. 컬럼의 이름을 변경 ['대륙','국가','타입','채널','우선순위',
#                      '주문일자','발송일자','판매단위','단가','원가']
# 대륙,국가를 기준으로 오름차순 정렬
# 인덱스를 초기화 (기존의 인덱스는 삭제)

In [174]:
import pandas as pd

In [175]:
Sales_Country = pd.read_csv("../CSV/Sales Records.csv")
Sales_Country.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,1/27/2011,292494523,2/12/2011,4484,651.21,524.96,2920025.64,2353920.64,566105.00
1,Europe,Latvia,Beverages,Online,C,12/28/2015,361825549,1/23/2016,1075,47.45,31.79,51008.75,34174.25,16834.50
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,1/13/2011,141515767,2/1/2011,6515,154.06,90.93,1003700.90,592408.95,411291.95
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,9/11/2012,500364005,10/6/2012,7683,668.27,502.54,5134318.41,3861014.82,1273303.59
4,Europe,Czech Republic,Beverages,Online,C,10/27/2015,127481591,12/5/2015,3491,47.45,31.79,165647.95,110978.89,54669.06

In [176]:
Sales_Country
## 1개의 컬럼을 삭제 
Sales_Country.drop(['Total Revenue'], axis=1)
Sales_Country.drop(['Total Revenue'], axis=1,inplace=True)

In [177]:
## 여러개의 컬럼을 삭제하는 경우 
Sales_Country = pd.read_csv("../CSV/Sales Records.csv")
Sales_Country.head() ## 이미 이전의 컬럼값들을 지웠기 때문에 에러나므로, 다시 불러옴
Sales_Country.drop(['Order ID','Total Revenue','Total Cost', 'Total Profit'], axis=1 ,inplace= True)
Sales_Country

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Ship Date,Units Sold,Unit Price,Unit Cost
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,1/27/2011,2/12/2011,4484,651.21,524.96
1,Europe,Latvia,Beverages,Online,C,12/28/2015,1/23/2016,1075,47.45,31.79
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,1/13/2011,2/1/2011,6515,154.06,90.93
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,9/11/2012,10/6/2012,7683,668.27,502.54
4,Europe,Czech Republic,Beverages,Online,C,10/27/2015,12/5/2015,3491,47.45,31.79
...,...,...,...,...,...,...,...,...,...,...
9995,Asia,Laos,Beverages,Online,H,7/15/2014,7/31/2014,8597,47.45,31.79
9996,Europe,Liechtenstein,Cosmetics,Online,C,10/27/2012,11/1/2012,562,437.20,263.33
9997,Sub-Saharan Africa,Democratic Republic of the Congo,Vegetables,Offline,M,2/14/2013,3/20/2013,2524,154.06,90.93
9998,Sub-Saharan Africa,South Africa,Meat,Online,L,2/19/2017,2/22/2017,8706,421.89,364.69
9999,Asia,Mongolia,Snacks,Offline,M,4/12/2016,4/16/2016,361,152.58,97.44

In [178]:
Sales_Country.columns = ['대륙','국가','타입','채널','우선순위','주문일자','발송일자','판매단위','단가','원가']
Sales_Country

,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,1/27/2011,2/12/2011,4484,651.21,524.96
1,Europe,Latvia,Beverages,Online,C,12/28/2015,1/23/2016,1075,47.45,31.79
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,1/13/2011,2/1/2011,6515,154.06,90.93
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,9/11/2012,10/6/2012,7683,668.27,502.54
4,Europe,Czech Republic,Beverages,Online,C,10/27/2015,12/5/2015,3491,47.45,31.79
...,...,...,...,...,...,...,...,...,...,...
9995,Asia,Laos,Beverages,Online,H,7/15/2014,7/31/2014,8597,47.45,31.79
9996,Europe,Liechtenstein,Cosmetics,Online,C,10/27/2012,11/1/2012,562,437.20,263.33
9997,Sub-Saharan Africa,Democratic Republic of the Congo,Vegetables,Offline,M,2/14/2013,3/20/2013,2524,154.06,90.93
9998,Sub-Saharan Africa,South Africa,Meat,Online,L,2/19/2017,2/22/2017,8706,421.89,364.69
9999,Asia,Mongolia,Snacks,Offline,M,4/12/2016,4/16/2016,361,152.58,97.44

In [179]:
Sales_Country.sort_values(['대륙','국가']) ## 대륙과 국가를 기준으로 오름차순 정렬 ( 대륙이 먼저 정렬후,국가 정렬)
Sales_Country.sort_values(['대륙','국가'],inplace=True)
Sales_Country

,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가
36,Asia,Bangladesh,Personal Care,Online,L,12/11/2016,1/13/2017,9420,81.73,56.67
246,Asia,Bangladesh,Cosmetics,Offline,M,7/29/2010,9/11/2010,577,437.20,263.33
446,Asia,Bangladesh,Vegetables,Offline,C,4/28/2014,5/5/2014,34,154.06,90.93
569,Asia,Bangladesh,Cereal,Offline,L,6/22/2010,6/28/2010,9768,205.70,117.11
576,Asia,Bangladesh,Office Supplies,Online,H,3/20/2013,4/11/2013,7731,651.21,524.96
...,...,...,...,...,...,...,...,...,...,...
8747,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,H,11/27/2013,1/9/2014,8431,109.28,35.84
9025,Sub-Saharan Africa,Zimbabwe,Baby Food,Offline,M,3/11/2013,3/11/2013,9304,255.28,159.42
9219,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,H,6/9/2010,7/20/2010,3235,109.28,35.84
9541,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,11/20/2015,11/27/2015,5904,9.33,6.92
9645,Sub-Saharan Africa,Zimbabwe,Cereal,Online,H,2/15/2010,3/1/2010,7309,205.70,117.11

In [180]:
Sales_Country.reset_index()

## 인덱스를 초기화, #

,index,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가
0,36,Asia,Bangladesh,Personal Care,Online,L,12/11/2016,1/13/2017,9420,81.73,56.67
1,246,Asia,Bangladesh,Cosmetics,Offline,M,7/29/2010,9/11/2010,577,437.20,263.33
2,446,Asia,Bangladesh,Vegetables,Offline,C,4/28/2014,5/5/2014,34,154.06,90.93
3,569,Asia,Bangladesh,Cereal,Offline,L,6/22/2010,6/28/2010,9768,205.70,117.11
4,576,Asia,Bangladesh,Office Supplies,Online,H,3/20/2013,4/11/2013,7731,651.21,524.96
...,...,...,...,...,...,...,...,...,...,...,...
9995,8747,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,H,11/27/2013,1/9/2014,8431,109.28,35.84
9996,9025,Sub-Saharan Africa,Zimbabwe,Baby Food,Offline,M,3/11/2013,3/11/2013,9304,255.28,159.42
9997,9219,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,H,6/9/2010,7/20/2010,3235,109.28,35.84
9998,9541,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,11/20/2015,11/27/2015,5904,9.33,6.92
9999,9645,Sub-Saharan Africa,Zimbabwe,Cereal,Online,H,2/15/2010,3/1/2010,7309,205.70,117.11

In [181]:
# 기존의 인덱스는 삭제 
## case 1
Sales_Country.reset_index(drop=True)
# case 2
#Sales_Country.reset_index().drop(['index'],axis=1)
#Sales = Sales_Country.reset_index().drop(['index'],axis=1) 
## or 아래와 같이 inplace 를 써서 결과값을 출력가능하다 
## Sales_Country.reset_index().drop(['index'],axis=1,inplace=True)

,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가
0,Asia,Bangladesh,Personal Care,Online,L,12/11/2016,1/13/2017,9420,81.73,56.67
1,Asia,Bangladesh,Cosmetics,Offline,M,7/29/2010,9/11/2010,577,437.20,263.33
2,Asia,Bangladesh,Vegetables,Offline,C,4/28/2014,5/5/2014,34,154.06,90.93
3,Asia,Bangladesh,Cereal,Offline,L,6/22/2010,6/28/2010,9768,205.70,117.11
4,Asia,Bangladesh,Office Supplies,Online,H,3/20/2013,4/11/2013,7731,651.21,524.96
...,...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,H,11/27/2013,1/9/2014,8431,109.28,35.84
9996,Sub-Saharan Africa,Zimbabwe,Baby Food,Offline,M,3/11/2013,3/11/2013,9304,255.28,159.42
9997,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,H,6/9/2010,7/20/2010,3235,109.28,35.84
9998,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,11/20/2015,11/27/2015,5904,9.33,6.92
9999,Sub-Saharan Africa,Zimbabwe,Cereal,Online,H,2/15/2010,3/1/2010,7309,205.70,117.11

In [182]:
## 총 단가, 총 원가, 총 이윤 컬럼 생성 
## 총단가 = 단가 * 판매단위

In [183]:
Sales_Country['총 단가'] = Sales_Country['단가'] * Sales_Country['판매단위']
type(Sales_Country['단가'] * Sales_Country['판매단위'])  ## series 형태의 단가 * 판매단위.

type(Sales_Country) ## dataFrame 형태의 Sales_Country 에 대입 
Sales_Country.head(2)

,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가,총 단가
36,Asia,Bangladesh,Personal Care,Online,L,12/11/2016,1/13/2017,9420,81.73,56.67,769896.6
246,Asia,Bangladesh,Cosmetics,Offline,M,7/29/2010,9/11/2010,577,437.20,263.33,252264.4

In [184]:
## 총 원가 = 원가 * 판매단위 
Sales_Country ['총 원가'] = Sales_Country['원가'] * Sales_Country['판매단위']

In [185]:
## 총 이윤 = 총 단가 -  총 원가 
## 총 이윤2 = 판매단위 * (단가 - 원가)
Sales_Country['총 이윤'] = Sales_Country['총 단가'] - Sales_Country['총 원가']
Sales_Country['총 이윤2'] = Sales_Country['판매단위'] * \
     (Sales_Country['단가'] - Sales_Country['원가'])
Sales_Country.head(2)

,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가,총 단가,총 원가,총 이윤,총 이윤2
36,Asia,Bangladesh,Personal Care,Online,L,12/11/2016,1/13/2017,9420,81.73,56.67,769896.6,533831.40,236065.20,236065.20
246,Asia,Bangladesh,Cosmetics,Offline,M,7/29/2010,9/11/2010,577,437.20,263.33,252264.4,151941.41,100322.99,100322.99

In [186]:
## loc [] : 특정 행이나 특정열을 추출할때 사용 
##          loc [ 열의 위치, 행의 위치 ]
## iloc [] : 특정 행이나 특정 열을 추출할때 사용 
##          iloc[열의 위치 인덱스 값, 행의 위치 인덱스 값]

In [187]:
Sales_Country.iloc[0:2, 1:9] ##0:2 는 출력할 row 값들 , 뒤의 값들은 column 값들

,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가
36,Bangladesh,Personal Care,Online,L,12/11/2016,1/13/2017,9420,81.73
246,Bangladesh,Cosmetics,Offline,M,7/29/2010,9/11/2010,577,437.20

In [188]:
### 그룹화 
## group 화 기준이 되어지는 컬럼 
Sales_Country.groupby('국가')

In [189]:
Sales_Country.groupby('국가').sum()

C:\Users\ezen\AppData\Local\Temp\ipykernel_4296\2469533150.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Sales_Country.groupby('국가').sum()

,판매단위,단가,원가,총 단가,총 원가,총 이윤,총 이윤2
국가,,,,,,,
Afghanistan,288606,18788.26,13584.98,80540712.55,57563692.49,22977020.06,22977020.06
Albania,265337,13380.85,9280.73,66102811.56,46518841.86,19583969.70,19583969.70
Algeria,265512,13903.86,9592.03,70033847.68,47907961.04,22125886.64,22125886.64
Andorra,251235,13282.96,9599.76,59876814.59,43222877.72,16653936.87,16653936.87
Angola,287966,11852.60,8190.31,60047751.56,40451600.98,19596150.58,19596150.58
...,...,...,...,...,...,...,...
Vatican City,282961,12487.63,9083.68,61515063.42,44536634.38,16978429.04,16978429.04
Vietnam,300117,15918.36,11520.47,88844159.24,65428782.22,23415377.02,23415377.02
Yemen,243814,12518.66,8898.08,55684388.46,39017513.39,16666875.07,16666875.07
Zambia,287658,16143.14,11429.19,82694260.99,59056807.99,23637453.00,23637453.00
Zimbabwe,320108,13028.69,8680.63,62492808.33,41318176.57,21174631.76,21174631.76

In [190]:
Sales_Country.groupby('국가').sum()['총 이윤'] # Series 형태로 출력

C:\Users\ezen\AppData\Local\Temp\ipykernel_4296\2781668323.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Sales_Country.groupby('국가').sum()['총 이윤'] # Series 형태로 출력

국가
Afghanistan     22977020.06
Albania         19583969.70
Algeria         22125886.64
Andorra         16653936.87
Angola          19596150.58
                   ...
Vatican City    16978429.04
Vietnam         23415377.02
Yemen           16666875.07
Zambia          23637453.00
Zimbabwe        21174631.76
Name: 총 이윤, Length: 185, dtype: float64

In [191]:
Sales_Country.groupby('국가').sum()[['총 이윤']]# 해당하는 컬럼 ('총이윤') data 만 출력

C:\Users\ezen\AppData\Local\Temp\ipykernel_4296\2814035477.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Sales_Country.groupby('국가').sum()[['총 이윤']]# dataframe 형태로 출력

                     총 이윤
국가
Afghanistan   22977020.06
Albania       19583969.70
Algeria       22125886.64
Andorra       16653936.87
Angola        19596150.58
...                   ...
Vatican City  16978429.04
Vietnam       23415377.02
Yemen         16666875.07
Zambia        23637453.00
Zimbabwe      21174631.76

[185 rows x 1 columns]

In [192]:
## 가장 많은 이윤을 내는 대륙은 어디인가 ? 
## 그룹화 --> 합계 --> 오름차순 or 내림차순 - 하위값 or 상위값 확인 
Sales_Country.groupby('대륙').sum()[['총 이윤']]
test1 = Sales_Country

C:\Users\ezen\AppData\Local\Temp\ipykernel_4296\421166125.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Sales_Country.groupby('대륙').sum()[['총 이윤']]

In [193]:
test1= Sales_Country.sort_values(['총 이윤'],ascending = False)
test1.tail(2)

,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가,총 단가,총 원가,총 이윤,총 이윤2
4037,Sub-Saharan Africa,Ghana,Fruits,Offline,M,7/18/2015,8/5/2015,24,9.33,6.92,223.92,166.08,57.84,57.84
7160,Asia,Philippines,Fruits,Online,H,1/25/2012,2/13/2012,18,9.33,6.92,167.94,124.56,43.38,43.38

In [194]:
## 내림 차순 정렬 --> head(1) 
test1 = Sales_Country.sort_values(['총 이윤'], ascending = False).head(1)
test1

,대륙,국가,타입,채널,우선순위,주문일자,발송일자,판매단위,단가,원가,총 단가,총 원가,총 이윤,총 이윤2
3124,Asia,Laos,Cosmetics,Online,L,11/23/2015,12/27/2015,9997,437.2,263.33,4370688.4,2632510.01,1738178.39,1738178.39

In [195]:
test2 = Sales_Country.groupby('국가').sum()[['총 이윤']]
test2

C:\Users\ezen\AppData\Local\Temp\ipykernel_4296\2873724232.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  test2 = Sales_Country.groupby('국가').sum()[['총 이윤']]

                     총 이윤
국가
Afghanistan   22977020.06
Albania       19583969.70
Algeria       22125886.64
Andorra       16653936.87
Angola        19596150.58
...                   ...
Vatican City  16978429.04
Vietnam       23415377.02
Yemen         16666875.07
Zambia        23637453.00
Zimbabwe      21174631.76

[185 rows x 1 columns]

In [196]:
## 총 이윤을 기준으로 내림차순 정렬 
group_df = test2.sort_values(['총 이윤'],ascending=False)
## 상위 10개 
top10 = group_df.head(10)
## 하위 10개 
bottom10 = group_df.tail(10)
top10
bottom10

                              총 이윤
국가
Sao Tome and Principe  14810451.22
Singapore              14709325.91
Syria                  14536103.72
Cote d'Ivoire          14521698.84
Belize                 14384763.70
Cape Verde             14383303.52
Italy                  14199991.25
Malta                  14163744.55
Mali                   13800334.90
Tajikistan             13662027.26