In [118]:
import pandas as pd

In [119]:
## 파일 로드 
uriage = pd.read_csv("../CSV/uriage.csv")
uriage.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [120]:
uriage.isna().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

In [121]:
##1. purchase_date 컬럼의 데이터 타입을 시계열 데이터로 변경
##2. item_name 의 데이터를 모두 대문자로 변경
##3. item_name 의 데이터에서 공백을 삭제
##4. item_name 를 기준으로 오름차순 정렬 
##5. 인덱스를 초기화 ( 기존의 인덱스는 삭제)

In [122]:
## 1. 시계열 데이터로 변경 
## pd.to_datatime (변경할 데이터, format = '데이터의 형태')
pd.to_datetime(uriage['purchase_date'], format = '%Y-%m-%d %H:%M') ## 아직 변경되지 않은 format 의 data 출력
uriage['purchase_date'] = pd.to_datetime(uriage['purchase_date'],format = '%Y-%m-%d %H:%M')  #특정컬럼의 변수에 넣어출력
uriage.head(2)

        purchase_date item_name  item_price customer_name
0 2019-06-13 18:02:00       상품A       100.0           김가온
1 2019-07-13 13:05:00     상 품 S         NaN           김우찬

In [123]:
##2. item_name 컬럼의 데이터를 대문자로 변경. 
#uriage['item_name'].upper() ## Series 에서는 upper 함수를 쓸수 없다. 
# case1 
uriage['item_name'].str.upper() ## series 형태로 upper 로 만들어서 출력

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [124]:
# case2 
# apply() : 시리즈 형태의 데이터를 항목 하나하나 씩 함수에 대입하여 출력값을 시리즈 형태로 변경하여 출력. 
## 일반 함수 생성 
def change (x):
    return x.upper()
uriage['item_name'].apply(change) # apply 라는 함수가 change 함수에 알아서 인자값을 넣어 주므로 change 함수에 인수없음

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [125]:
# Case3 
## apply(lambda 함수)
uriage['item_name'].apply(lambda x : x.upper())

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [126]:
## 공백 제거 
## 문자열 사이의 공백도 삭제해야 하기 때문에 replace(" ","")
uriage['item_name'].str.replace(" ","") ## replace 역시 문자열이므로 str 을 사용해야함.

0       상품A
1       상품S
2       상품a
3       상품Z
4       상품a
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [127]:
# case2 
def change (x):
    return x.replace(" ","")
uriage['item_name'].apply(change)
# case3 
uriage['item_name'].apply(lambda x : x.replace(" ",""))

0       상품A
1       상품S
2       상품a
3       상품Z
4       상품a
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [128]:
## 대문자로 변경, 공백 제거 2개의 행동을 한번에 작업 
# case1 
uriage['item_name'].str.upper().str.replace(" ","")
# case2 
def change(x):
  # result = x.upper().replace(" ","") ## OK 
    result = x.upper()                 ## 두줄로 code 를 짬
    result = result.replace(" ","")
    return result
uriage['item_name'].apply(change)

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [129]:
uriage['item_name'] = uriage['item_name'].apply(change) # 바뀐 data 를 item_name 컬럼에 넣어준다. 
uriage
# item_name 을 기준으로 오름차순 정렬
uriage.sort_values(['item_name'],ascending=True,inplace=True)

In [130]:
## index 를 초기화 ( 기존의 인덱스는 삭제)
uriage.reset_index ( drop = True , inplace=True)
uriage

           purchase_date item_name  item_price customer_name
0    2019-06-13 18:02:00       상품A       100.0           김가온
1    2019-05-19 20:22:00       상품A       100.0           김시훈
2    2019-06-25 08:13:00       상품A       100.0           김유진
3    2019-06-13 16:03:00       상품A       100.0           김건희
4    2019-02-10 00:28:00       상품A       100.0           김하랑
...                  ...       ...         ...           ...
2994 2019-04-22 00:36:00       상품Y         NaN           김동욱
2995 2019-04-30 14:21:00       상품Y         NaN           김하준
2996 2019-01-24 10:27:00       상품Y      2500.0           김범준
2997 2019-05-28 13:45:00       상품Y      2500.0           김수현
2998 2019-02-12 23:40:00       상품Z      2600.0           김재현

[2999 rows x 4 columns]

## 결측치에 데이터를 치환 
#1. 상품A의 item_price 의 값은 결측치 중 상품이A 이면 상품A의 평균값을 치환
#2. 나머지 상품들도 같은 방법으로 치환

In [131]:
## item_name 이 상품A인 경우만 추출 
uriage['item_name'] == '상품A'

0        True
1        True
2        True
3        True
4        True
        ...
2994    False
2995    False
2996    False
2997    False
2998    False
Name: item_name, Length: 2999, dtype: bool

In [132]:
fig=uriage['item_name'] == '상품A' # item_name 이 상품A인 경우만 추출
uriage.loc[fig]

          purchase_date item_name  item_price customer_name
0   2019-06-13 18:02:00       상품A       100.0           김가온
1   2019-05-19 20:22:00       상품A       100.0           김시훈
2   2019-06-25 08:13:00       상품A       100.0           김유진
3   2019-06-13 16:03:00       상품A       100.0           김건희
4   2019-02-10 00:28:00       상품A       100.0           김하랑
..                  ...       ...         ...           ...
134 2019-01-13 11:50:00       상품A       100.0           김시율
135 2019-03-09 14:20:00       상품A         NaN           김우찬
136 2019-05-11 19:42:00       상품A         NaN           김유찬
137 2019-04-25 17:15:00       상품A       100.0           김강현
138 2019-05-20 14:05:00       상품A       100.0           김지안

[139 rows x 4 columns]

In [133]:
## 상품A이고, item_price 가 결측치인 경우 True 
fig2 = uriage.loc[fig,'item_price'].isna()    # item_price 의 결측치를 걸러냄

In [134]:
uriage.loc[fig].loc[fig2]

          purchase_date item_name  item_price customer_name
18  2019-04-11 02:22:00       상품A         NaN           김선우
22  2019-07-07 21:49:00       상품A         NaN           김은우
32  2019-07-14 03:39:00       상품A         NaN           김시우
38  2019-05-25 12:51:00       상품A         NaN           김재민
44  2019-02-28 04:11:00       상품A         NaN           김서준
46  2019-02-13 07:28:00       상품A         NaN           김시환
48  2019-07-31 01:32:00       상품A         NaN           김윤찬
51  2019-04-06 11:06:00       상품A         NaN           김태인
58  2019-03-15 09:14:00       상품A         NaN           김강현
59  2019-06-24 05:06:00       상품A         NaN           김시호
68  2019-03-16 17:23:00       상품A         NaN           김주원
86  2019-01-15 22:59:00       상품A         NaN           김하진
96  2019-01-21 03:33:00       상품A         NaN           김진우
102 2019-07-19 14:12:00       상품A         NaN           김서윤
110 2019-03-05 20:21:00       상품A         NaN           김주혁
112 2019-05-18 19:16:00       상품A         NaN           김재준
115 2019-01-28 22:13:00       상품A         NaN           김윤호
118 2019-06-11 12:57:00       상품A         NaN           김재호
128 2019-04-22 03:09:00       상품A         NaN           김강현
132 2019-06-21 11:09:00       상품A         NaN           김승훈
135 2019-03-09 14:20:00       상품A         NaN           김우찬
136 2019-05-11 19:42:00       상품A         NaN           김유찬

In [135]:
## 조건식 2개 를 합쳐져 있을때 .. 
fig = uriage['item_name'] == '상품A'
fig2 = uriage['item_price'].isna()

In [136]:
uriage.loc[fig & fig2]

          purchase_date item_name  item_price customer_name
18  2019-04-11 02:22:00       상품A         NaN           김선우
22  2019-07-07 21:49:00       상품A         NaN           김은우
32  2019-07-14 03:39:00       상품A         NaN           김시우
38  2019-05-25 12:51:00       상품A         NaN           김재민
44  2019-02-28 04:11:00       상품A         NaN           김서준
46  2019-02-13 07:28:00       상품A         NaN           김시환
48  2019-07-31 01:32:00       상품A         NaN           김윤찬
51  2019-04-06 11:06:00       상품A         NaN           김태인
58  2019-03-15 09:14:00       상품A         NaN           김강현
59  2019-06-24 05:06:00       상품A         NaN           김시호
68  2019-03-16 17:23:00       상품A         NaN           김주원
86  2019-01-15 22:59:00       상품A         NaN           김하진
96  2019-01-21 03:33:00       상품A         NaN           김진우
102 2019-07-19 14:12:00       상품A         NaN           김서윤
110 2019-03-05 20:21:00       상품A         NaN           김주혁
112 2019-05-18 19:16:00       상품A         NaN           김재준
115 2019-01-28 22:13:00       상품A         NaN           김윤호
118 2019-06-11 12:57:00       상품A         NaN           김재호
128 2019-04-22 03:09:00       상품A         NaN           김강현
132 2019-06-21 11:09:00       상품A         NaN           김승훈
135 2019-03-09 14:20:00       상품A         NaN           김우찬
136 2019-05-11 19:42:00       상품A         NaN           김유찬

In [137]:
uriage.loc[fig & ~fig2] # 결측치가 아닌값들이 출력 "~" 은 not 의미

          purchase_date item_name  item_price customer_name
0   2019-06-13 18:02:00       상품A       100.0           김가온
1   2019-05-19 20:22:00       상품A       100.0           김시훈
2   2019-06-25 08:13:00       상품A       100.0           김유진
3   2019-06-13 16:03:00       상품A       100.0           김건희
4   2019-02-10 00:28:00       상품A       100.0           김하랑
..                  ...       ...         ...           ...
131 2019-06-05 02:25:00       상품A       100.0           김현성
133 2019-06-24 02:56:00       상품A       100.0           김현진
134 2019-01-13 11:50:00       상품A       100.0           김시율
137 2019-04-25 17:15:00       상품A       100.0           김강현
138 2019-05-20 14:05:00       상품A       100.0           김지안

[117 rows x 4 columns]

In [138]:
##상품A 인 경우 & 결측치가 아닌 경우에 item_price 의 평균값 
a_price = uriage.loc[fig & ~fig2, 'item_price'].mean()
a_price

100.0

In [139]:
## 상품A 이고, item_price 가 결측치인 값에 치환 
uriage.loc[fig & fig2].fillna(a_price)

          purchase_date item_name  item_price customer_name
18  2019-04-11 02:22:00       상품A       100.0           김선우
22  2019-07-07 21:49:00       상품A       100.0           김은우
32  2019-07-14 03:39:00       상품A       100.0           김시우
38  2019-05-25 12:51:00       상품A       100.0           김재민
44  2019-02-28 04:11:00       상품A       100.0           김서준
46  2019-02-13 07:28:00       상품A       100.0           김시환
48  2019-07-31 01:32:00       상품A       100.0           김윤찬
51  2019-04-06 11:06:00       상품A       100.0           김태인
58  2019-03-15 09:14:00       상품A       100.0           김강현
59  2019-06-24 05:06:00       상품A       100.0           김시호
68  2019-03-16 17:23:00       상품A       100.0           김주원
86  2019-01-15 22:59:00       상품A       100.0           김하진
96  2019-01-21 03:33:00       상품A       100.0           김진우
102 2019-07-19 14:12:00       상품A       100.0           김서윤
110 2019-03-05 20:21:00       상품A       100.0           김주혁
112 2019-05-18 19:16:00       상품A       100.0           김재준
115 2019-01-28 22:13:00       상품A       100.0           김윤호
118 2019-06-11 12:57:00       상품A       100.0           김재호
128 2019-04-22 03:09:00       상품A       100.0           김강현
132 2019-06-21 11:09:00       상품A       100.0           김승훈
135 2019-03-09 14:20:00       상품A       100.0           김우찬
136 2019-05-11 19:42:00       상품A       100.0           김유찬

In [140]:
uriage.value_counts('item_name').index # 중복값은 모두 삭제하고 하나하나값들만 출력

Index(['상품S', '상품A', '상품R', '상품P', '상품V', '상품C', '상품F', '상품D', '상품Q', '상품O',
       '상품W', '상품N', '상품T', '상품J', '상품X', '상품I', '상품M', '상품B', '상품L', '상품G',
       '상품K', '상품H', '상품U', '상품E', '상품Y', '상품Z'],
      dtype='object', name='item_name')

In [141]:
uriage['item_name'].unique() # 중복값은 모두 삭제하고 하나하나값들만 출력

array(['상품A', '상품B', '상품C', '상품D', '상품E', '상품F', '상품G', '상품H', '상품I',
       '상품J', '상품K', '상품L', '상품M', '상품N', '상품O', '상품P', '상품Q', '상품R',
       '상품S', '상품T', '상품U', '상품V', '상품W', '상품X', '상품Y', '상품Z'],
      dtype=object)

In [142]:

name_list = uriage['item_name'].unique()

In [143]:
## 반복문을 이용하여 모든 결측치를 치환. 
uriage2 = uriage.copy()

In [144]:
for i in name_list: # name_list 를 i 를 기준으로 한번씩 반복함.
    ## 조건식 생성 
    fig = uriage ['item_name'] == i ## 상품 A 를 i 로 변환 
    fig2 = uriage ['item_price'].isna()    
## fig 과 ~fig2 의 조건식이 모두 참일때의 item_price 평균값 
    mean_price = uriage.loc [fig & ~fig2, 'item_price'].mean()
## fig 와 fig2 의 조건식이 모두 참인 경우 item_price 에 mean_price 의 값을 대체 
    uriage.loc[fig & fig2, 'item_price'] = mean_price

In [145]:
uriage

           purchase_date item_name  item_price customer_name
0    2019-06-13 18:02:00       상품A       100.0           김가온
1    2019-05-19 20:22:00       상품A       100.0           김시훈
2    2019-06-25 08:13:00       상품A       100.0           김유진
3    2019-06-13 16:03:00       상품A       100.0           김건희
4    2019-02-10 00:28:00       상품A       100.0           김하랑
...                  ...       ...         ...           ...
2994 2019-04-22 00:36:00       상품Y      2500.0           김동욱
2995 2019-04-30 14:21:00       상품Y      2500.0           김하준
2996 2019-01-24 10:27:00       상품Y      2500.0           김범준
2997 2019-05-28 13:45:00       상품Y      2500.0           김수현
2998 2019-02-12 23:40:00       상품Z      2600.0           김재현

[2999 rows x 4 columns]

In [146]:
uriage.isna().sum() # 결측치 값들이 모두 사라지고 mean_price 값들로 대체가 되었음.

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [153]:
## 함수를 만들어서 for 문 반복하기 
def change(df, x):
    ## 조건식 생성 
    fig = df['item_name'] == x 
    fig2 = df ['item_price'].isna() 
    
    ## fig 그리고 ~fig 인 경우 item_price 의 평균 
    mean_price = df.loc[fig & ~fig2, 'item_price'].mean()
    ## 평균값을 결측치에 대체 
    df.loc[fig & fig2, 'item_price'] = mean_price

In [152]:
uriage2.isna().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

In [155]:
for i in name_list:
    change(uriage2,i)

In [157]:
uriage2.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [158]:
uriage.query("item_name == '상품B'") # " " &'' 분류를 잘 해줘야함.

          purchase_date item_name  item_price customer_name
139 2019-06-07 00:03:00       상품B       200.0           김재희
140 2019-03-15 06:06:00       상품B       200.0           김서윤
141 2019-06-25 03:12:00       상품B       200.0           김규민
142 2019-04-18 16:44:00       상품B       200.0           김유빈
143 2019-07-27 09:00:00       상품B       200.0           김현수
..                  ...       ...         ...           ...
247 2019-02-17 01:46:00       상품B       200.0           김지완
248 2019-05-21 11:17:00       상품B       200.0           김태우
249 2019-07-02 07:39:00       상품B       200.0           김정민
250 2019-07-09 15:27:00       상품B       200.0           김성민
251 2019-01-20 19:05:00       상품B       200.0           김준호

[113 rows x 4 columns]