In [3]:
import pandas as pd

In [5]:
## 파일 로드 
uriage = pd.read_csv("../CSV/uriage.csv")
uriage.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [8]:
uriage.isna().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

In [11]:
##1. purchase_date 컬럼의 데이터 타입을 시계열 데이터로 변경
##2. item_name 의 데이터를 모두 대문자로 변경
##3. item_name 의 데이터에서 공백을 삭제
##4. item_name 를 기준으로 오름차순 정렬 
##5. 인덱스를 초기화 ( 기존의 인덱스는 삭제)

In [21]:
## 1. 시계열 데이터로 변경 
## pd.to_datatime (변경할 데이터, format = '데이터의 형태')
pd.to_datetime(uriage['purchase_date'], format = '%Y-%m-%d %H:%M') ## 아직 변경되지 않은 format 의 data 출력
uriage['purchase_date'] = pd.to_datetime(uriage['purchase_date'],format = '%Y-%m-%d %H:%M')  #특정컬럼의 변수에 넣어출력
uriage.head(2)

        purchase_date item_name  item_price customer_name
0 2019-06-13 18:02:00       상품A       100.0           김가온
1 2019-07-13 13:05:00     상 품 S         NaN           김우찬

In [34]:
##2. item_name 컬럼의 데이터를 대문자로 변경. 
#uriage['item_name'].upper() ## Series 에서는 upper 함수를 쓸수 없다. 
# case1 
uriage['item_name'].str.upper() ## series 형태로 upper 로 만들어서 출력

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [38]:
# case2 
# apply() : 시리즈 형태의 데이터를 항목 하나하나 씩 함수에 대입하여 출력값을 시리즈 형태로 변경하여 출력. 
## 일반 함수 생성 
def change (x):
    return x.upper()
uriage['item_name'].apply(change) # apply 라는 함수가 change 함수에 알아서 인자값을 넣어 주므로 change 함수에 인수없음

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [37]:
# Case3 
## apply(lambda 함수)
uriage['item_name'].apply(lambda x : x.upper())

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [31]:
## 공백 제거 
## 문자열 사이의 공백도 삭제해야 하기 때문에 replace(" ","")
uriage['item_name'].str.replace(" ","") ## replace 역시 문자열이므로 str 을 사용해야함.

0       상품A
1       상품S
2       상품a
3       상품Z
4       상품a
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [33]:
# case2 
def change (x):
    return x.replace(" ","")
uriage['item_name'].apply(change)
# case3 
uriage['item_name'].apply(lambda x : x.replace(" ",""))

0       상품A
1       상품S
2       상품a
3       상품Z
4       상품a
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [42]:
## 대문자로 변경, 공백 제거 2개의 행동을 한번에 작업 
# case1 
uriage['item_name'].str.upper().str.replace(" ","")
# case2 
def change(x):
  # result = x.upper().replace(" ","") ## OK 
    result = x.upper()                 ## 두줄로 code 를 짬
    result = result.replace(" ","")
    return result
uriage['item_name'].apply(change)

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [49]:
uriage['item_name'] = uriage['item_name'].apply(change) # 바뀐 data 를 item_name 컬럼에 넣어준다. 
uriage
# item_name 을 기준으로 오름차순 정렬
uriage.sort_values(['item_name'],ascending=True,inplace=True)

In [54]:
## index 를 초기화 ( 기존의 인덱스는 삭제)
uriage.reset_index ( drop = True , inplace=True)
uriage

           purchase_date item_name  item_price customer_name
0    2019-06-13 18:02:00       상품A       100.0           김가온
1    2019-02-12 06:06:00       상품A       100.0           김태경
2    2019-07-19 14:12:00       상품A         NaN           김서윤
3    2019-06-12 10:08:00       상품A       100.0           김지용
4    2019-07-26 15:06:00       상품A       100.0           김연준
...                  ...       ...         ...           ...
2994 2019-03-28 08:28:00       상품Y      2500.0           김준형
2995 2019-03-07 08:59:00       상품Y      2500.0           김재현
2996 2019-05-05 18:09:00       상품Y      2500.0           김도경
2997 2019-03-14 12:23:00       상품Y         NaN           김연호
2998 2019-02-12 23:40:00       상품Z      2600.0           김재현

[2999 rows x 4 columns]

## 결측치에 데이터를 치환 
#1. 상품A의 item_price 의 값은 결측치 중 상품이A 이면 상품A의 평균값을 치환
#2. 나머지 상품들도 같은 방법으로 치환

In [56]:
## item_name 이 상품A인 경우만 추출 
uriage['item_name'] == '상품A'

0        True
1        True
2        True
3        True
4        True
        ...
2994    False
2995    False
2996    False
2997    False
2998    False
Name: item_name, Length: 2999, dtype: bool

In [58]:
fig=uriage['item_name'] == '상품A' # item_name 이 상품A인 경우만 추출
uriage.loc[fig]

          purchase_date item_name  item_price customer_name
0   2019-06-13 18:02:00       상품A       100.0           김가온
1   2019-02-12 06:06:00       상품A       100.0           김태경
2   2019-07-19 14:12:00       상품A         NaN           김서윤
3   2019-06-12 10:08:00       상품A       100.0           김지용
4   2019-07-26 15:06:00       상품A       100.0           김연준
..                  ...       ...         ...           ...
134 2019-02-28 04:11:00       상품A         NaN           김서준
135 2019-07-31 01:32:00       상품A         NaN           김윤찬
136 2019-01-22 17:19:00       상품A       100.0           김민재
137 2019-02-13 07:28:00       상품A         NaN           김시환
138 2019-06-30 21:10:00       상품A       100.0           김태준

[139 rows x 4 columns]

In [66]:
## 상품A이고, item_price 가 결측치인 경우 True 
fig2 = uriage.loc[fig,'item_price'].isna()    # item_price 의 결측치를 걸러냄

In [68]:
uriage.loc[fig].loc[fig2]

          purchase_date item_name  item_price customer_name
2   2019-07-19 14:12:00       상품A         NaN           김서윤
7   2019-01-21 03:33:00       상품A         NaN           김진우
17  2019-01-15 22:59:00       상품A         NaN           김하진
38  2019-05-11 19:42:00       상품A         NaN           김유찬
39  2019-03-09 14:20:00       상품A         NaN           김우찬
42  2019-06-21 11:09:00       상품A         NaN           김승훈
46  2019-04-22 03:09:00       상품A         NaN           김강현
55  2019-03-05 20:21:00       상품A         NaN           김주혁
57  2019-05-18 19:16:00       상품A         NaN           김재준
63  2019-06-11 12:57:00       상품A         NaN           김재호
67  2019-01-28 22:13:00       상품A         NaN           김윤호
70  2019-03-16 17:23:00       상품A         NaN           김주원
74  2019-07-07 21:49:00       상품A         NaN           김은우
77  2019-04-11 02:22:00       상품A         NaN           김선우
84  2019-07-14 03:39:00       상품A         NaN           김시우
111 2019-03-15 09:14:00       상품A         NaN           김강현
112 2019-06-24 05:06:00       상품A         NaN           김시호
125 2019-04-06 11:06:00       상품A         NaN           김태인
126 2019-05-25 12:51:00       상품A         NaN           김재민
134 2019-02-28 04:11:00       상품A         NaN           김서준
135 2019-07-31 01:32:00       상품A         NaN           김윤찬
137 2019-02-13 07:28:00       상품A         NaN           김시환

In [69]:
## 조건식 2개 를 합쳐져 있을때 .. 
fig = uriage['item_name'] == '상품A'
fig2 = uriage['item_price'].isna()

In [ ]:
uriage.loc[fig & fig2]

In [ ]:
uriage.loc[fig & ~fig2] # 결측치가 아닌값들이 출력 "~" 은 not 의미

In [73]:
##상품A 인 경우 & 결측치가 아닌 경우에 item_price 의 평균값 
a_price = uriage.loc[fig & ~fig2, 'item_price'].mean()
a_price

100.0

In [ ]:
## 상품A 이고, item_price 가 결측치인 값에 치환 
uriage.loc[fig & fig2].fillna(a_price)

In [ ]:
uriage.value_counts('item_name').index # 중복값은 모두 삭제하고 하나하나값들만 출력

In [78]:
uriage['item_name'].unique() # 중복값은 모두 삭제하고 하나하나값들만 출력

array(['상품A', '상품B', '상품C', '상품D', '상품E', '상품F', '상품G', '상품H', '상품I',
       '상품J', '상품K', '상품L', '상품M', '상품N', '상품O', '상품P', '상품Q', '상품R',
       '상품S', '상품T', '상품U', '상품V', '상품W', '상품X', '상품Y', '상품Z'],
      dtype=object)